<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="2">UKURAN</td>
            <td colspan="2">TIPE</td>
        </tr>
        <tr>
            <td>INCH</td>
            <td>MM</td>
            <td>AW</td>
            <td>D</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 21.780</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 29.920</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 36.080</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 53.130</td>
            <td>Rp 36.520</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 63.910</td>
            <td>Rp 41.470</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 86.570</td>
            <td>Rp 60.390</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 124.520</td>
            <td>Rp 80.080</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 224.400</td>
            <td>Rp 94.600</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 311.630</td>
            <td>Rp 134.750</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 407.000</td>
            <td>Rp 263.230</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 657.140</td>
            <td>Rp 295.680</td>
        </tr>
    </tbody>
</table>