<table class="table table-bordered table-hover table-inverse">
    <tbody>
        <tr>
            <td colspan="2">UKURAN</td>
            <td colspan="2">TIPE</td>
        </tr>
        <tr>
            <td>INCH</td>
            <td>MM</td>
            <td>AW</td>
            <td>D</td>
        </tr>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 19.030</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 25.960</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 31.460</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 46.200</td>
            <td>Rp 31.790</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 55.550</td>
            <td>Rp 36.080</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 75.240</td>
            <td>Rp 52.580</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 108.240</td>
            <td>Rp 69.630</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 195.140</td>
            <td>Rp 82.280</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 270.974</td>
            <td>Rp 117.150</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 353.870</td>
            <td>Rp 228.910</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 571.450</td>
            <td>Rp 257.070</td>
        </tr>
    </tbody>
</table>