<table class="table table-bordered table-hover table-inverse">
    <thead>
        <tr>
            <td colspan="2">Diameter</td>
            <td rowspan="2">VP</td>
            <td rowspan="2">VU</td>
        </tr>
        <tr>
            <td>Inch</td>
            <td>mm</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 49.500</td>
            <td></td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 49.720</td>
            <td></td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 70.620</td>
            <td></td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 99.000</td>
            <td></td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 124.960</td>
            <td>Rp 67.320</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 175.560</td>
            <td>Rp 86.130</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 240.130</td>
            <td>Rp 129.140</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 361.240</td>
            <td>Rp 190.520</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 556.930</td>
            <td>Rp 285.890</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 736.560</td>
            <td>Rp 424.820</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 1.051.600</td>
            <td>Rp 609.290</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 1.663.200</td>
            <td>Rp 1.022.450</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 2.559.150</td>
            <td>Rp 1.644.610</td>
        </tr>
        <tr>
            <td>12″</td>
            <td>318</td>
            <td>Rp 3.662.520</td>
            <td>Rp 2.271.060</td>
        </tr>
        <tr>
            <td colspan="4">* Panjang pipa <strong>4 meter</strong> per batang<br> * Warna pipa = <strong>ABU-ABU</strong><br> * Pipa <strong>dengan socket</strong>/mof di ujung pipa<br> * Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu</td>
        </tr>
    </tbody>
</table>