<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="2">UKURAN</td>
            <td colspan="2">TIPE</td>
        </tr>
        <tr>
            <td>inch</td>
            <td>mm</td>
            <td>AW</td>
            <td>D</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 28.160</td>
            <td></td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 39.600</td>
            <td></td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 54.890</td>
            <td></td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 79.640</td>
            <td>Rp 50.160</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 93.390</td>
            <td>Rp 58.190</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 120.560</td>
            <td>Rp 74.030</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 174.570</td>
            <td>Rp 99.550</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 254.650</td>
            <td>Rp 138.270</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 412.500</td>
            <td>Rp 212.960</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 641.190</td>
            <td>Rp 326.700</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 879.450</td>
            <td>Rp 445.610</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 1.490.500</td>
            <td>Rp 800.360</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 2.236.960</td>
            <td>Rp 1.238.710</td>
        </tr>
        <tr>
            <td>12″</td>
            <td>318</td>
            <td>Rp 3.235.650</td>
            <td>Rp 1.786.840</td>
        </tr>
        <tr>
            <td colspan="4">* Panjang pipa <strong>4 meter</strong> per batang<br> * Warna pipa = <strong>PUTIH</strong><br> * Pipa <strong>dengan socket</strong>/mof di ujung pipa<br> * Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu</td>
        </tr>
    </tbody>
</table>