<table class="table table-bordered table-hover table-inverse">
    <thead>
        <tr>
            <td colspan="2">Diameter</td>
            <td rowspan="2">AW</td>
            <td rowspan="2">D</td>
        </tr>
        <tr>
            <td>Inch</td>
            <td>mm</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 24.530</td>
            <td></td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 34.430</td>
            <td></td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 47.740</td>
            <td></td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 69.300</td>
            <td>Rp 43.670</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 81.290</td>
            <td>Rp 50.600</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 104.830</td>
            <td>Rp 64.460</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 151.800</td>
            <td>Rp 86.570</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 221.430</td>
            <td>Rp 120.230</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 358.710</td>
            <td>Rp 185.240</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 557.590</td>
            <td>Rp 284.130</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 764.830</td>
            <td>Rp 387.530</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 1.296.130</td>
            <td>Rp 695.970</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 1.945.130</td>
            <td>Rp 1.077.120</td>
        </tr>
        <tr>
            <td>12″</td>
            <td>318</td>
            <td>Rp 2.813.580</td>
            <td>Rp 1.553.750</td>
        </tr>
        <tr>
            <td colspan="4">* Panjang pipa <strong>4 meter</strong> per batang<br>
                * Warna pipa = <strong>PUTIH</strong><br>
                * Pipa <strong>dengan socket</strong>/mof di ujung pipa<br>
                * Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu</td>
        </tr>
    </tbody>
</table>