<table class="table table-bordered table-hover table-inverse">
    <thead>
        <tr>
            <td colspan="2">Diameter</td>
            <td rowspan="2">VP</td>
            <td rowspan="2">VU</td>
        </tr>
        <tr>
            <td>Inch</td>
            <td>mm</td>
        </tr>
    </thead>
    <tbody>        
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 38.100</td>
            <td></td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 44.000</td>
            <td></td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 62.500</td>
            <td></td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 87.600</td>
            <td></td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 110.600</td>
            <td>Rp 59.600</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 155.300</td>
            <td>Rp 76.200</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 212.500</td>
            <td>Rp 114.300</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 319.700</td>
            <td>Rp 168.600</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 492.900</td>
            <td>Rp 253.000</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 651.800</td>
            <td>Rp 375.900</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 930.600</td>
            <td>Rp 539.200</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 1.471.800</td>
            <td>Rp 904.800</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 2.264.700</td>
            <td>Rp 1.455.400</td>
        </tr>
        <tr>
            <td>12″</td>
            <td>318</td>
            <td>Rp 3.205.800</td>
            <td>Rp 2.009.800</td>
        </tr>
        <tr>
            <td colspan="4">* Panjang pipa <strong>4 meter</strong> per batang<br>
                * Warna pipa = <strong>ABU-ABU</strong><br>
                * Pipa <strong>dengan socket</strong>/mof di ujung pipa<br>
                * Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu</td>
        </tr>
    </tbody>
</table>