<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>mm</th>
            <th>Inch</th>
            <th>Harga/batang (4 meter)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>22</td>
            <td>1/2</td>
            <td>Rp 18.000 </td>
        </tr>
        <tr>
            <td>26</td>
            <td>3/4</td>
            <td>Rp 25.110 </td>
        </tr>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>Rp 35.280 </td>
        </tr>
        <tr>
            <td>42</td>
            <td>1 1/4</td>
            <td>Rp 50.400 </td>
        </tr>
        <tr>
            <td>48</td>
            <td>1 1/2</td>
            <td>Rp 59.850 </td>
        </tr>
        <tr>
            <td>60</td>
            <td>2</td>
            <td>Rp 76.680 </td>
        </tr>
        <tr>
            <td>76</td>
            <td>2 1/2</td>
            <td>Rp 110.970 </td>
        </tr>
        <tr>
            <td>89</td>
            <td>3</td>
            <td>Rp 160.020 </td>
        </tr>
        <tr>
            <td>114</td>
            <td>4</td>
            <td>Rp 263.160 </td>
        </tr>
        <tr>
            <td>165</td>
            <td>6</td>
            <td>Rp 558.270 </td>
        </tr>
    </tbody>
</table>