<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>mm</th>
            <th>Inch</th>
            <th>Harga/batang (4 meter)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>42</td>
            <td>1 1/4</td>
            <td>Rp  32.830 </td>
        </tr>
        <tr>
            <td>48</td>
            <td>1 1/2</td>
            <td>Rp  38.770 </td>
        </tr>
        <tr>
            <td>60</td>
            <td>2</td>
            <td>Rp  45.280 </td>
        </tr>
        <tr>
            <td>76</td>
            <td>2 1/2</td>
            <td>Rp  67.070 </td>
        </tr>
        <tr>
            <td>89</td>
            <td>3</td>
            <td>Rp  90.270 </td>
        </tr>
        <tr>
            <td>114</td>
            <td>4</td>
            <td>Rp  119.130 </td>
        </tr>
        <tr>
            <td>165</td>
            <td>6</td>
            <td>Rp  255.240 </td>
        </tr>
    </tbody>
</table>