<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">UKURAN</th>
            <th colspan="2">TIPE</th>
        </tr>
        <tr>
            <th>INCH</th>
            <th>MM</th>
            <th>AW</th>
            <th>D</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 20.680</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 29.040</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 40.260</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 57.970</td>
            <td>Rp 35.310</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 70.290</td>
            <td>Rp 41.360</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 86.460</td>
            <td>Rp 53.570</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 125.730</td>
            <td>Rp 71.280</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 174.240</td>
            <td>Rp 96.250</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 295.790</td>
            <td>Rp 149.490</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 486.750</td>
            <td>Rp 234.520</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 670.780</td>
            <td>Rp 315.590</td>
        </tr>
    </tbody>
</table>