<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Merk</th>
            <th colspan="2">Tipe</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>AW</td>
            <td>D</td>
        </tr>
        <tr>
            <td>Rucika</td>
            <td>Rp 1.208.600,-</td>
            <td>Rp 594.600,-</td>
        </tr>
        <tr>
            <td>Pralon</td>
            <td>Rp 1.239.900,-</td>
            <td>Rp 604.850,-</td>
        </tr>
        <tr>
            <td>Intilon</td>
            <td>Rp 1.147.000,-</td>
            <td>Rp 615.900,-</td>
        </tr>
        <tr>
            <td>Signature</td>
            <td>Rp 544.500,-</td>
            <td>Rp 303.259,-</td>
        </tr>
    </tbody>
</table>