<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Merk</th>
            <th>Kelas</th>
            <th>Satuan</th>
            <th>Harga</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Rucika</td>
            <td>AW</td>
            <td>Batang</td>
            <td>Rp 720.200,-</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>D</td>
            <td>Batang</td>
            <td>Rp 338.100,-</td>
        </tr>
        <tr>
            <td>Pralon</td>
            <td>AW</td>
            <td>Batang</td>
            <td>Rp 731.650,-</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>D</td>
            <td>Batang</td>
            <td>Rp 352.200,-</td>
        </tr>
        <tr>
            <td>Intilon</td>
            <td>AW</td>
            <td>Batang</td>
            <td>Rp 676.800,-</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>D</td>
            <td>Batang</td>
            <td>Rp 342.900,-</td>
        </tr>
        <tr>
            <td>Champion</td>
            <td>AW</td>
            <td>Batang</td>
            <td>Rp 505.700,-</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>D</td>
            <td>Batang </td>
            <td>Rp 227.500,-</td>
        </tr>
        <tr>
            <td>Signature</td>
            <td>AW</td>
            <td>Batang</td>
            <td>Rp 346.329,-</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>D</td>
            <td>Batang</td>
            <td>Rp 175.038,-</td>
        </tr>
    </tbody>
</table>