<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Merk</th>
            <th>Harga Pipa PVC D 4 Inch </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Rucika</td>
            <td>Rp 166.400 </td>
        </tr>
        <tr>
            <td>Pralon</td>
            <td>Rp 176.800 </td>
        </tr>
        <tr>
            <td>Intilon</td>
            <td>Rp 163.900 </td>
        </tr>
        <tr>
            <td>Champion</td>
            <td>Rp 103.700 </td>
        </tr>
        <tr>
            <td>Signature</td>
            <td>Rp 85.873 </td>
        </tr>
        <tr>
            <td>Lesso</td>
            <td>Rp 119.130 </td>
        </tr>
    </tbody>
</table>