<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="2">UKURAN</th>
            <th colspan="2">TIPE</th>
        </tr>
        <tr>
            <th>inch</th>
            <th>mm</th>
            <th>AW</th>
            <th>D</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 19.000</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 23.100</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 33.200</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 51.900</td>
            <td>Rp 27.100</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 59.700</td>
            <td>Rp 33.700</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 69.800</td>
            <td>Rp 48.600</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 103.400</td>
            <td>Rp 55.900</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 145.100</td>
            <td>Rp 71.800</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 303.300</td>
            <td>Rp 106.900</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 309.200</td>
            <td>Rp 172.100</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 448.400</td>
            <td>Rp 217.800</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 712.700</td>
            <td>Rp 404.200</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 1.438.100</td>
            <td>Rp 725.800</td>
        </tr>
    </tbody>
</table>