<table class="table table-bordered">
    <thead>
        <tr>
            <th>Dimensi</th>
            <th>Tipe B</th>
        </tr>
        <tr>
            <td>OD (mm) - ND (inch) - Ketebalan</td>
            <td>Ts End </td>
            <td>Bell End</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 20 mm - <strong>1/2"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 25 mm - <strong>3/4"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 32 mm - <strong>1"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 40 mm - <strong>1-1/4"</strong><br> tebal: 3.2 mm </td>
            <td>Rp 26,650 </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 50 mm - <strong>1-1/2"</strong><br> tebal: 3.2 mm </td>
            <td>Rp 33,950 </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 63 mm - <strong>2"</strong><br> tebal: 3.2 mm </td>
            <td>Rp 43,400 </td>
            <td>Rp 45,350 </td>
        </tr>
        <tr>
            <td> 75 mm - <strong>2-1/2"</strong><br> tebal: 3.2 mm </td>
            <td>Rp 52,200 </td>
            <td>Rp 55,950 </td>
        </tr>
        <tr>
            <td> 90 mm - <strong>3"</strong><br> tebal: 3.2 mm </td>
            <td>Rp 63,100 </td>
            <td>Rp 66,200 </td>
        </tr>
        <tr>
            <td> 110 mm - <strong>4"</strong><br> tebal: 3.2 mm </td>
            <td>Rp 77,850 </td>
            <td>Rp 81,800 </td>
        </tr>
        <tr>
            <td> 140 mm - <strong>5"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 160 mm - <strong>6"</strong><br> tebal: 4.0 mm </td>
            <td>Rp 142,700 </td>
            <td>Rp 150,700 </td>
        </tr>
        <tr>
            <td> 200 mm - <strong>8"</strong><br> tebal: 4.9 mm </td>
            <td>Rp 218,250 </td>
            <td>Rp 230,550 </td>
        </tr>
        <tr>
            <td> 250 mm - <strong>10"</strong><br> tebal: 6.2 mm </td>
            <td>Rp 344,500 </td>
            <td>Rp 366,400 </td>
        </tr>
        <tr>
            <td> 315 mm - <strong>12"</strong><br> tebal: 7.7 mm </td>
            <td>Rp 542,950 </td>
            <td>Rp 585,700 </td>
        </tr>
        <tr>
            <td> 355 mm - <strong>14"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 400 mm - <strong>16"</strong><br> tebal: 9.8 mm </td>
            <td> - </td>
            <td>Rp 977,350 </td>
        </tr>
        <tr>
            <td> 450 mm - <strong>18"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 500 mm - <strong>20"</strong><br> tebal: 12.3 mm </td>
            <td> - </td>
            <td>Rp 1,590,400 </td>
        </tr>
        <tr>
            <td> 630 mm - <strong>24"</strong><br> tebal: 15.4 mm </td>
            <td> - </td>
            <td>Rp 2,506,650 </td>
        </tr>
    </tbody>
</table>