<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Dimensi</th>
            <th colspan="2">S-12,5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>OD (mm) - ND (inch) - Ketebalan</td>
            <td>TS End</td>
            <td>Bell End </td>
        </tr>
        <tr>
            <td> 20 mm - <strong>1/2"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 25 mm - <strong>3/4"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 32 mm - <strong>1"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 40 mm - <strong>1-1/4"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 50 mm - <strong>1-1/2"</strong><br> tebal: 2.0 mm </td>
            <td>Rp 22,350 </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 63 mm - <strong>2"</strong><br> tebal: 2.4 mm </td>
            <td>Rp 33,900 </td>
            <td>Rp 35,700 </td>
        </tr>
        <tr>
            <td> 75 mm - <strong>2-1/2"</strong><br> tebal: 2.9 mm </td>
            <td>Rp 47,900 </td>
            <td>Rp 51,600 </td>
        </tr>
        <tr>
            <td> 90 mm - <strong>3"</strong><br> tebal: 3.5 mm </td>
            <td>Rp 69,250 </td>
            <td>Rp 72,400 </td>
        </tr>
        <tr>
            <td> 110 mm - <strong>4"</strong><br> tebal: 4.2 mm </td>
            <td>Rp 101,650 </td>
            <td>Rp 105,950 </td>
        </tr>
        <tr>
            <td> 140 mm - <strong>5"</strong><br> tebal: 5.4 mm </td>
            <td>Rp 165,350 </td>
            <td>Rp 173,850 </td>
        </tr>
        <tr>
            <td> 160 mm - <strong>6"</strong><br> tebal: 6.2 mm </td>
            <td>Rp 217,650 </td>
            <td>Rp 226,500 </td>
        </tr>
        <tr>
            <td> 200 mm - <strong>8"</strong><br> tebal: 7.7 mm </td>
            <td>Rp 336,150 </td>
            <td>Rp 350,250 </td>
        </tr>
        <tr>
            <td> 250 mm - <strong>10"</strong><br> tebal: 9.9 mm </td>
            <td>Rp 540,500 </td>
            <td>Rp 565,400 </td>
        </tr>
        <tr>
            <td> 315 mm - <strong>12"</strong><br> tebal: 12.1 mm </td>
            <td>Rp 839,050 </td>
            <td>Rp 887,600 </td>
        </tr>
        <tr>
            <td> 355 mm - <strong>14"</strong><br> tebal: 13.6 mm </td>
            <td> - </td>
            <td>Rp 1,142,750 </td>
        </tr>
        <tr>
            <td> 400 mm - <strong>16"</strong><br> tebal: 15.3 mm </td>
            <td> - </td>
            <td>Rp 1,467,850 </td>
        </tr>
        <tr>
            <td> 450 mm - <strong>18"</strong><br> tebal: 17.2 mm </td>
            <td> - </td>
            <td>Rp 1,861,500 </td>
        </tr>
        <tr>
            <td> 500 mm - <strong>20"</strong><br> tebal: 19.1 mm </td>
            <td> - </td>
            <td>Rp 2,368,300 </td>
        </tr>
        <tr>
            <td> 630 mm - <strong>24"</strong><br> tebal: 24.1 mm </td>
            <td> - </td>
            <td>Rp 3,716,700 </td>
        </tr>
    </tbody>
</table>