<table class="table table-bordered table-hoverable">
    <thead>
        <tr>
            <th rowspan="2">Diameter (inch-mm)</th>
            <th>AW (10 Kg/cm<sup>2</sup>)</th>
            <th>D (5 Kg/cm<sup>2</sup>)</th>
        </tr>
        <tr>
            <td>Ts. End</td>
            <td>Ts. End</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>1/2"</strong> (22mm)</td>
            <td>Rp 23,650</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>3/4"</strong> (26mm)</td>
            <td>Rp 32,850</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>1"</strong> (32mm)</td>
            <td>Rp 44,750</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>1 1/4"</strong> (42mm)</td>
            <td>Rp 69,000</td>
            <td>Rp 38,850</td>
        </tr>
        <tr>
            <td><strong>1 1/2"</strong> (48mm)</td>
            <td>Rp 79,200</td>
            <td>Rp 44,450</td>
        </tr>
        <tr>
            <td><strong>2"</strong> (60mm)</td>
            <td>Rp 101,200</td>
            <td>Rp 62,500</td>
        </tr>
        <tr>
            <td><strong>2 1/2"</strong> (76mm)</td>
            <td>Rp 144,350</td>
            <td>Rp 84,700</td>
        </tr>
        <tr>
            <td><strong>3"</strong> (89mm)</td>
            <td>Rp 207,800</td>
            <td>Rp 112,300</td>
        </tr>
        <tr>
            <td><strong>4"</strong> (114mm)</td>
            <td>Rp 345,000</td>
            <td>Rp 176,800</td>
        </tr>
        <tr>
            <td><strong>5"</strong> (140mm)</td>
            <td>Rp 529,200</td>
            <td>Rp 261,200</td>
        </tr>
        <tr>
            <td><strong>6"</strong> (165mm)</td>
            <td>Rp 731,650</td>
            <td>Rp 352,200</td>
        </tr>
        <tr>
            <td><strong>8"</strong> (216mm)</td>
            <td>Rp 1,239,900</td>
            <td>Rp 604,850</td>
        </tr>
        <tr>
            <td><strong>10"</strong> (267mm)</td>
            <td>Rp 1,869,900</td>
            <td>Rp 990,450</td>
        </tr>
        <tr>
            <td><strong>12"</strong> (318mm)</td>
            <td>Rp 2,628,650</td>
            <td>Rp 1,406,300</td>
        </tr>
    </tbody>
</table>