<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Dimensi</th>
            <th colspan="2">S-10</th>
        </tr>
        <tr>
            <td>OD (mm) - ND (inch) - Ketebalan</td>
            <td>TS End</td>
            <td>Bell End</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20 mm - <strong>1/2"</strong><br> tebal: 1.0 mm</td>
            <td>Rp 4,650 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>25 mm - <strong>3/4"</strong><br> tebal: 1.2 mm</td>
            <td>Rp 7,050 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>32 mm - <strong>1"</strong><br> tebal: 1.6 mm</td>
            <td>Rp 11,600 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>40 mm - <strong>1-1/4"</strong><br> tebal: 1.9 mm</td>
            <td>Rp 16,950 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>50 mm - <strong>1-1/2"</strong><br> tebal: 2.4 mm</td>
            <td>Rp 26,600 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>63 mm - <strong>2"</strong><br> tebal: 3.0 mm</td>
            <td>Rp 41,150 </td>
            <td>Rp 43,050 </td>
        </tr>
        <tr>
            <td>75 mm - <strong>2-1/2"</strong><br> tebal: 3.6 mm</td>
            <td>Rp 58,600 </td>
            <td>Rp 62,450 </td>
        </tr>
        <tr>
            <td>90 mm - <strong>3"</strong><br> tebal: 4.3 mm</td>
            <td>Rp 83,950 </td>
            <td>Rp 87,300 </td>
        </tr>
        <tr>
            <td>110 mm - <strong>4"</strong><br> tebal: 5.3 mm</td>
            <td>Rp 125,900 </td>
            <td>Rp 130,600 </td>
        </tr>
        <tr>
            <td>140 mm - <strong>5"</strong><br> tebal: 6.7 mm</td>
            <td>Rp 201,750 </td>
            <td>Rp 210,800 </td>
        </tr>
        <tr>
            <td>160 mm - <strong>6"</strong><br> tebal: 7.7 mm</td>
            <td>Rp 265,650 </td>
            <td>Rp 275,000 </td>
        </tr>
        <tr>
            <td>200 mm - <strong>8"</strong><br> tebal: 9.6 mm</td>
            <td>Rp 413,700 </td>
            <td>Rp 429,000 </td>
        </tr>
        <tr>
            <td>250 mm - <strong>10"</strong><br> tebal: 11.9 mm</td>
            <td>Rp 642,350 </td>
            <td>Rp 668,800 </td>
        </tr>
        <tr>
            <td>315 mm - <strong>12"</strong><br> tebal: 15.0 mm</td>
            <td>Rp 1,024,800 </td>
            <td>Rp 1,077,000 </td>
        </tr>
        <tr>
            <td>355 mm - <strong>14"</strong><br> tebal: 16.9 mm</td>
            <td> - </td>
            <td>Rp 1,393,150 </td>
        </tr>
        <tr>
            <td>400 mm - <strong>16"</strong><br> tebal: 19.1 mm</td>
            <td> - </td>
            <td>Rp 1,796,600 </td>
        </tr>
        <tr>
            <td>450 mm - <strong>18"</strong><br> tebal: 21.5 mm</td>
            <td> - </td>
            <td>Rp 2,281,000 </td>
        </tr>
        <tr>
            <td>500 mm - <strong>20"</strong><br> tebal: 23.9 mm</td>
            <td> - </td>
            <td>Rp 2,891,700 </td>
        </tr>
        <tr>
            <td>630 mm - <strong>24"</strong><br> tebal: 30.0 mm</td>
            <td> - </td>
            <td>Rp 4,588,200 </td>
        </tr>
    </tbody>
</table>