<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Dimensi</th>
            <th colspan="2">Tipe A</th>
        </tr>
        <tr>
            <td>OD (mm) - ND (inch) - Ketebalan</td>
            <td>TS End</td>
            <td>Bell End</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 20 mm - <strong>1/2"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 25 mm - <strong>3/4"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 32 mm - <strong>1"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 40 mm - <strong>1-1/4"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 18.600 </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 50 mm - <strong>1-1/2"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 23.450 </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 63 mm - <strong>2"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 29.700 </td>
            <td>Rp 31.550 </td>
        </tr>
        <tr>
            <td> 75 mm - <strong>2-1/2"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 35.500 </td>
            <td>Rp 39.400 </td>
        </tr>
        <tr>
            <td> 90 mm - <strong>3"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 42.900 </td>
            <td>Rp 45.900 </td>
        </tr>
        <tr>
            <td> 110 mm - <strong>4"</strong><br> tebal: 2.2 mm </td>
            <td>Rp 62.950 </td>
            <td>Rp 66.950 </td>
        </tr>
        <tr>
            <td> 140 mm - <strong>5"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 160 mm - <strong>6"</strong><br> tebal: 3.2 mm </td>
            <td>Rp 132.450 </td>
            <td>Rp 140.850 </td>
        </tr>
        <tr>
            <td> 200 mm - <strong>8"</strong><br> tebal: 3.9 mm </td>
            <td>Rp 201.900 </td>
            <td>Rp 214.600 </td>
        </tr>
        <tr>
            <td> 250 mm - <strong>10"</strong><br> tebal: 4.9 mm </td>
            <td>Rp 316.950 </td>
            <td>Rp 339.550 </td>
        </tr>
        <tr>
            <td> 315 mm - <strong>12"</strong><br> tebal: 6.2 mm </td>
            <td>Rp 505.300 </td>
            <td>Rp 549.500 </td>
        </tr>
        <tr>
            <td> 355 mm - <strong>14"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 400 mm - <strong>16"</strong><br> tebal: 7.8 mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 450 mm - <strong>18"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 500 mm - <strong>20"</strong><br> tebal: 9.8 mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 630 mm - <strong>24"</strong><br> tebal: 12.3 mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
    </tbody>
</table>