<table class="table table-bordered table-hoverable">
    <thead>
        <tr>
            <th rowspan="2">Diameter (inch-mm)</th>
            <th colspan="2">VP (10 Kg/cm<sup>2</sup>)</th>
        </tr>
        <tr>
            <td>Ts.End</td>
            <td>Bell End</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>1/2"</strong> (22mm)</td>
            <td>Rp 41,800</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>3/4"</strong> (26mm)</td>
            <td>Rp 50,600</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>1"</strong> (32mm)</td>
            <td>Rp 73,100</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>1 1/4"</strong> (42mm)</td>
            <td>Rp 108,800</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>1 1/2"</strong> (48mm)</td>
            <td>Rp 128,800</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>2"</strong> (60mm)</td>
            <td>Rp 182,700</td>
            <td>Rp 188,250</td>
        </tr>
        <tr>
            <td><strong>2 1/2"</strong> (76mm)</td>
            <td>Rp 235,350</td>
            <td>Rp 247,600</td>
        </tr>
        <tr>
            <td><strong>3"</strong> (89mm)</td>
            <td>Rp 381,600</td>
            <td>Rp 402,450</td>
        </tr>
        <tr>
            <td><strong>4"</strong> (114mm)</td>
            <td>Rp 590,550</td>
            <td>Rp 618,050</td>
        </tr>
        <tr>
            <td><strong>5"</strong> (140mm)</td>
            <td>Rp 726,300</td>
            <td>Rp 804,000</td>
        </tr>
        <tr>
            <td><strong>6"</strong> (165mm)</td>
            <td>Rp 1,090,200</td>
            <td>Rp 1,149,900</td>
        </tr>
        <tr>
            <td><strong>8"</strong> (216mm)</td>
            <td>Rp 1,648,000</td>
            <td>Rp 1,738,550</td>
        </tr>
        <tr>
            <td><strong>10"</strong> (267mm)</td>
            <td>Rp 2,158,400</td>
            <td>Rp 2,648,800</td>
        </tr>
        <tr>
            <td><strong>12"</strong> (318mm)</td>
            <td>Rp 3,572,800</td>
            <td>Rp 3,789,500</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hoverable">
    <thead>
        <tr>
            <th rowspan="2">Diameter (inch-mm)</th>
            <th colspan="2">VU (5 Kg/cm<sup>2</sup>)</th>
        </tr>
        <tr>
            <td>Ts. End</td>
            <td>Bell End</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>1/2"</strong> (22mm)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>3/4"</strong> (26mm)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>1"</strong> (32mm)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>1 1/4"</strong> (42mm)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>1 1/2"</strong> (48mm)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td><strong>2"</strong> (60mm)</td>
            <td>Rp 85,000</td>
            <td>Rp 90,400</td>
        </tr>
        <tr>
            <td><strong>2 1/2"</strong> (76mm)</td>
            <td>Rp 134,500</td>
            <td>Rp 146,600</td>
        </tr>
        <tr>
            <td><strong>3"</strong> (89mm)</td>
            <td>Rp 200,600</td>
            <td>Rp 221,650</td>
        </tr>
        <tr>
            <td><strong>4"</strong> (114mm)</td>
            <td>Rp 301,000</td>
            <td>Rp 328,700</td>
        </tr>
        <tr>
            <td><strong>5"</strong> (140mm)</td>
            <td>Rp 445,700</td>
            <td>Rp 523,350</td>
        </tr>
        <tr>
            <td><strong>6"</strong> (165mm)</td>
            <td>Rp 641,150</td>
            <td>Rp 701,050</td>
        </tr>
        <tr>
            <td><strong>8"</strong> (216mm)</td>
            <td>Rp 1,069,150</td>
            <td>Rp 1,159,700</td>
        </tr>
        <tr>
            <td><strong>10"</strong> (267mm)</td>
            <td>Rp 1,587,400</td>
            <td>Rp 1,717,900</td>
        </tr>
        <tr>
            <td><strong>12"</strong> (318mm)</td>
            <td>Rp 2,229,900</td>
            <td>Rp 2,445,550</td>
        </tr>
    </tbody>
</table>