<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Dimensi</th>
            <th colspan="2">Tipe A</th>
        </tr>
        <tr>
            <td>OD (mm) - ND (inch) - Ketebalan</td>
            <td>TS End</td>
            <td>Bell End</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 20 mm - <strong>1/2"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 25 mm - <strong>3/4"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 32 mm - <strong>1"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 40 mm - <strong>1-1/4"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 16,150 </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 50 mm - <strong>1-1/2"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 20,350 </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 63 mm - <strong>2"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 25,800 </td>
            <td>Rp 27,400 </td>
        </tr>
        <tr>
            <td> 75 mm - <strong>2-1/2"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 30,850 </td>
            <td>Rp 34,250 </td>
        </tr>
        <tr>
            <td> 90 mm - <strong>3"</strong><br> tebal: 1.8 mm </td>
            <td>Rp 37,300 </td>
            <td>Rp 39,900 </td>
        </tr>
        <tr>
            <td> 110 mm - <strong>4"</strong><br> tebal: 2.2 mm </td>
            <td>Rp 54,700 </td>
            <td>Rp 58,200 </td>
        </tr>
        <tr>
            <td> 140 mm - <strong>5"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 160 mm - <strong>6"</strong><br> tebal: 3.2 mm </td>
            <td>Rp 115,150 </td>
            <td>Rp 122,450 </td>
        </tr>
        <tr>
            <td> 200 mm - <strong>8"</strong><br> tebal: 3.9 mm </td>
            <td>Rp 175,550 </td>
            <td>Rp 186,600 </td>
        </tr>
        <tr>
            <td> 250 mm - <strong>10"</strong><br> tebal: 4.9 mm </td>
            <td>Rp 275,600 </td>
            <td>Rp 295,250 </td>
        </tr>
        <tr>
            <td> 315 mm - <strong>12"</strong><br> tebal: 6.2 mm </td>
            <td>Rp 439,350 </td>
            <td>Rp 477,800 </td>
        </tr>
        <tr>
            <td> 355 mm - <strong>14"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 400 mm - <strong>16"</strong><br> tebal: 7.8 mm </td>
            <td> - </td>
            <td>Rp 798,800 </td>
        </tr>
        <tr>
            <td> 450 mm - <strong>18"</strong><br> tebal: - mm </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 500 mm - <strong>20"</strong><br> tebal: 9.8 mm </td>
            <td> - </td>
            <td>Rp 1,324,200 </td>
        </tr>
        <tr>
            <td> 630 mm - <strong>24"</strong><br> tebal: 12.3 mm </td>
            <td> - </td>
            <td>Rp 2,070,600 </td>
        </tr>
    </tbody>
</table>