<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Dimensi</th>
            <th colspan="2">S-10</th>
        </tr>
        <tr>
            <td>OD (mm) - ND (inch) - Ketebalan</td>
            <td>TS End</td>
            <td>Bell End</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20 mm - <strong>1/2"</strong><br> tebal: 1.0 mm</td>
            <td>Rp 7.800 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>25 mm - <strong>3/4"</strong><br> tebal: 1.2 mm</td>
            <td>Rp 12.150 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>32 mm - <strong>1"</strong><br> tebal: 1.6 mm</td>
            <td>Rp 13.350 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>40 mm - <strong>1-1/4"</strong><br> tebal: 1.9 mm</td>
            <td>Rp 19.500 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>50 mm - <strong>1-1/2"</strong><br> tebal: 2.4 mm</td>
            <td>Rp 30.600 </td>
            <td> - </td>
        </tr>
        <tr>
            <td>63 mm - <strong>2"</strong><br> tebal: 3.0 mm</td>
            <td>Rp 47.350 </td>
            <td>Rp 49.550 </td>
        </tr>
        <tr>
            <td>75 mm - <strong>2-1/2"</strong><br> tebal: 3.6 mm</td>
            <td>Rp 67.400 </td>
            <td>Rp 71.850 </td>
        </tr>
        <tr>
            <td>90 mm - <strong>3"</strong><br> tebal: 4.3 mm</td>
            <td>Rp 96.550 </td>
            <td>Rp 100.400 </td>
        </tr>
        <tr>
            <td>110 mm - <strong>4"</strong><br> tebal: 5.3 mm</td>
            <td>Rp 144.800 </td>
            <td>Rp 150.200 </td>
        </tr>
        <tr>
            <td>140 mm - <strong>5"</strong><br> tebal: 6.7 mm</td>
            <td>Rp 232.050 </td>
            <td>Rp 242.450 </td>
        </tr>
        <tr>
            <td>160 mm - <strong>6"</strong><br> tebal: 7.7 mm</td>
            <td>Rp 305.500 </td>
            <td>Rp 316.250 </td>
        </tr>
        <tr>
            <td>200 mm - <strong>8"</strong><br> tebal: 9.6 mm</td>
            <td>Rp 475.800 </td>
            <td>Rp 493.350 </td>
        </tr>
        <tr>
            <td>250 mm - <strong>10"</strong><br> tebal: 11.9 mm</td>
            <td>Rp 738.750 </td>
            <td>Rp 769.150 </td>
        </tr>
        <tr>
            <td>315 mm - <strong>12"</strong><br> tebal: 15.0 mm</td>
            <td>Rp 1.178.500 </td>
            <td>Rp 1.238.550 </td>
        </tr>
        <tr>
            <td>355 mm - <strong>14"</strong><br> tebal: 16.9 mm</td>
            <td> - </td>
            <td>Rp 1.602.150 </td>
        </tr>
        <tr>
            <td>400 mm - <strong>16"</strong><br> tebal: 19.1 mm</td>
            <td> - </td>
            <td>Rp 2.066.100 </td>
        </tr>
        <tr>
            <td>450 mm - <strong>18"</strong><br> tebal: 21.5 mm</td>
            <td> - </td>
            <td>Rp 2.623.150 </td>
        </tr>
        <tr>
            <td>500 mm - <strong>20"</strong><br> tebal: 23.9 mm</td>
            <td> - </td>
            <td>Rp 3.325.500 </td>
        </tr>
        <tr>
            <td>630 mm - <strong>24"</strong><br> tebal: 30.0 mm</td>
            <td> - </td>
            <td>Rp 5.276.450 </td>
        </tr>
    </tbody>
</table>