<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="2">Ukuran</td>
            <td colspan="2">Tipe</td>
        </tr>
        <tr>
            <td>Inch</td>
            <td>mm</td>
            <td>AW</td>
            <td>D</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 25.700</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 34.900</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 47.700</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1-1/4″</td>
            <td>42</td>
            <td>Rp 71.300</td>
            <td>Rp 44.800</td>
        </tr>
        <tr>
            <td>1-1/2″</td>
            <td>48</td>
            <td>Rp 81.900</td>
            <td>Rp 50.600</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 104.800</td>
            <td>Rp 64.900</td>
        </tr>
        <tr>
            <td>2-1/2″</td>
            <td>76</td>
            <td>Rp 152.800</td>
            <td>Rp 87.700</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 215.200</td>
            <td>Rp 116.400</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 356.600</td>
            <td>Rp 183.100</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 564.900</td>
            <td>Rp 282.000</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 792.300</td>
            <td>Rp 372.000</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 1.329.500</td>
            <td>Rp 654.100</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 2.055.700</td>
            <td>Rp 1.077.400</td>
        </tr>
        <tr>
            <td>12″</td>
            <td>318</td>
            <td>Rp 2.898.600</td>
            <td>Rp 1.512.300</td>
        </tr>
        <tr>
            <td colspan="4">
                <ul>
                    <li>Panjang pipa <strong>4 meter</strong> per batang</li>
                    <li>Warna pipa = <strong>PUTIH</strong></li>
                    <li>Standar pipa kelas AW tekanan kerja 10 Kg / Cm<sup>2</sup></li>
                    <li>Standar pipa kelas D tekanan kerja 5 Kg / Cm<sup>2</sup></li>
                    <li>Pipa <strong>dengan socket</strong>/mof di ujung pipa</li>
                    <li>Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>