<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="2">Ukuran</td>
            <td colspan="2">Tipe</td>
        </tr>
        <tr>
            <td>Inch</td>
            <td>mm</td>
            <td>VP*</td>
            <td>VU*</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 46.500</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 55.700</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 81.000</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1-1/4″</td>
            <td>42</td>
            <td>Rp 109.200</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1-1/2″</td>
            <td>48</td>
            <td>Rp 142.000</td>
            <td>Rp 74.400</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 201.600</td>
            <td>Rp 93.900</td>
        </tr>
        <tr>
            <td>2-1/2″</td>
            <td>76</td>
            <td>Rp 259.300</td>
            <td>Rp 148.500</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 413.100</td>
            <td>Rp 217.100</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 638.400</td>
            <td>Rp 325.900</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 799.200</td>
            <td>Rp 490.700</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 1.199.900</td>
            <td>Rp 705.400</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 1.814.700</td>
            <td>Rp 1.176.900</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 2.764.900</td>
            <td>Rp 1.742.900</td>
        </tr>
        <tr>
            <td>12″</td>
            <td>318</td>
            <td>Rp 3.922.100</td>
            <td>Rp 2.447.100</td>
        </tr>
        <tr>
            <td colspan="4">
                <ul>
                    <li>Panjang pipa <strong>4 meter</strong> per batang</li>
                    <li>Warna pipa = <strong>ABU-ABU</strong></li>
                    <li>Standar pipa kelas VP tekanan kerja 10 Kg / Cm<sup>2</sup></li>
                    <li>Standar pipa kelas VU tekanan kerja 5 Kg / Cm<sup>2</sup></li>
                    <li>Pipa <strong>TANPA socket</strong>/mof di ujung pipa</li>
                    <li>Perubahan harga dapat terjadi tanpa pemberitahuan terlebih dahulu</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>