<table class="table table-bordered table-hover table-inverse">
    <tbody>
        <tr>
            <td colspan="2">UKURAN</td>
            <td colspan="2">TIPE</td>
        </tr>
        <tr>
            <td>inch</td>
            <td>mm</td>
            <td>AW</td>
            <td>D</td>
        </tr>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 12.993</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 16.390</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 23.162</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 29.588</td>
            <td>Rp 19.855</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 41.005</td>
            <td>Rp 27.145</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 55.150</td>
            <td>Rp 37.537</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 76.633</td>
            <td>Rp 45.952</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 102.885</td>
            <td>Rp 60.637</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 170.075</td>
            <td>Rp 85.873</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 258.290</td>
            <td>Rp 135.715</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 346.329</td>
            <td>Rp 175.038</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 544.500</td>
            <td>Rp 303.259</td>
        </tr>
    </tbody>
</table>