<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td colspan="2">UKURAN</td>
            <td colspan="2">TIPE</td>
        </tr>
        <tr>
            <td>inch</td>
            <td>mm</td>
            <td>AW</td>
            <td>D</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2″</td>
            <td>22</td>
            <td>Rp 19.500</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4″</td>
            <td>26</td>
            <td>Rp 24.300</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1″</td>
            <td>32</td>
            <td>Rp 31.300</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1 1/4″</td>
            <td>42</td>
            <td>Rp 52.700</td>
            <td>Rp 27.700</td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>48</td>
            <td>Rp 61.100</td>
            <td>Rp 36.100</td>
        </tr>
        <tr>
            <td>2″</td>
            <td>60</td>
            <td>Rp 81.900</td>
            <td>Rp 49.900</td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>76</td>
            <td>Rp 113.700</td>
            <td>Rp 61.100</td>
        </tr>
        <tr>
            <td>3″</td>
            <td>89</td>
            <td>Rp 152.400</td>
            <td>Rp 80.400</td>
        </tr>
        <tr>
            <td>4″</td>
            <td>114</td>
            <td>Rp 252.100</td>
            <td>Rp 114.000</td>
        </tr>
        <tr>
            <td>5″</td>
            <td>140</td>
            <td>Rp 360.600</td>
            <td>Rp 180.400</td>
        </tr>
        <tr>
            <td>6″</td>
            <td>165</td>
            <td>Rp 485.400</td>
            <td>Rp 233.700</td>
        </tr>
        <tr>
            <td>8″</td>
            <td>216</td>
            <td>Rp 770.900</td>
            <td>Rp 402.200</td>
        </tr>
        <tr>
            <td>10″</td>
            <td>267</td>
            <td>Rp 1.693.200</td>
            <td>Rp 822.000</td>
        </tr>
    </tbody>
</table>