<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>½</td>
            <td>Rp 9.500</td>
        </tr>
        <tr>
            <td>¾</td>
            <td>Rp 14.800</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Rp 16.800</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td>Rp 29.500</td>
        </tr>
        <tr>
            <td>1½</td>
            <td>Rp 56.900</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rp 60.950</td>
        </tr>
    </tbody>
</table>