<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>½</td>
            <td>Rp 1.100</td>
        </tr>
        <tr>
            <td>¾</td>
            <td>Rp 1.450</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Rp 2.100</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td>Rp 4.050</td>
        </tr>
        <tr>
            <td>1½</td>
            <td>Rp 5.300</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rp 7.700</td>
        </tr>
        <tr>
            <td>2½</td>
            <td>Rp 17.600</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rp 18.900</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Rp 37.000</td>
        </tr>
    </tbody>
</table>