<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-socket" class="btn btn-primary btn-sm">
    Socket / Coupler
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-elbow-90" class="btn btn-primary btn-sm">
    Elbow 90° / Knee 90°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-elbow-45" class="btn btn-primary btn-sm">
    Elbow 45° / Knee 45°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-reducer" class="btn btn-primary btn-sm">
    Reducer <br> (Vlok Sok)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-sdl" class="btn btn-primary btn-sm">
    Socket Drat Luar <br> (SDL/Valve Socket)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-tee-equal" class="btn btn-primary btn-sm">
    Tee Equal
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-tee-reducer" class="btn btn-primary btn-sm">
    Tee Reducer
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-tee-y-equal" class="btn btn-primary btn-sm">
    Tee Y Equal <br>
    (Large Radius Tee)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-tee-y-reducer" class="btn btn-primary btn-sm">
    Tee Y Reducer<br>
    (Large Radius Tee)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-y-branch-equal" class="btn btn-primary btn-sm">
    Y Branch Equal
    <br>(Tee 45°)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-y-branch-reducer" class="btn btn-primary btn-sm">
    Y Branch Reducer
    <br>(Tee 45°)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-flange" class="btn btn-primary btn-sm">
    Flange (Stub
    End)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-cap" class="btn btn-primary btn-sm">
    Cap (Dop)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-clean-out" class="btn btn-primary btn-sm">
    Clean Out
</a>


<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-p-trap" class="btn btn-primary btn-sm">
    P Trap (Leher Angsa)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-watermur-socket" class="btn btn-primary btn-sm">
    Watermur/Union
    Socket
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw-watermur-drat" class="btn btn-primary btn-sm">
    Watermur/Union
    Drat
</a>       