<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>½</td>
            <td>–</td>
        </tr>
        <tr>
            <td>¾</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1½</td>
            <td>Rp 22.500</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rp 29.900</td>
        </tr>
        <tr>
            <td>2½</td>
            <td>Rp 58.800</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rp 62.050</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Rp 130.000</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Rp 254.650</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Rp 400.150</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Rp 1.698.000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Rp 1.905.200</td>
        </tr>
        <tr>
            <td>12</td>
            <td>–</td>
        </tr>
        <tr>
            <td>14</td>
            <td>–</td>
        </tr>
    </tbody>
</table>