<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>½</td>
            <td>Rp 26.750</td>
        </tr>
        <tr>
            <td>¾</td>
            <td>Rp 31.000</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Rp 38.500</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td>Rp 40.650</td>
        </tr>
        <tr>
            <td>1½</td>
            <td>Rp 41.700</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rp 37.950</td>
        </tr>
        <tr>
            <td>2½</td>
            <td>Rp 55.000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rp 48.700</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Rp 69.950</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Rp 143.000</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Rp 159.500</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Rp 272.300</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Rp 774.400</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Rp 973.950</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Rp 2.513.000</td>
        </tr>
    </tbody>
</table>