<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>½</td>
            <td>–</td>
        </tr>
        <tr>
            <td>¾</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1½</td>
            <td>Rp 25.700</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rp 33.700</td>
        </tr>
        <tr>
            <td>2½</td>
            <td>Rp 54.000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rp 63.900</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Rp 133.750</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Rp 259.900</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Rp 444.500</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Rp 959.000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Rp 1.798.000</td>
        </tr>
        <tr>
            <td>12</td>
            <td>–</td>
        </tr>
        <tr>
            <td>14</td>
            <td>–</td>
        </tr>
    </tbody>
</table>