<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>½</td>
            <td>Rp 1.300</td>
        </tr>
        <tr>
            <td>¾</td>
            <td>Rp 1.750</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Rp 2.750</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td>Rp 4.600</td>
        </tr>
        <tr>
            <td>1½</td>
            <td>Rp 6.900</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rp 10.200</td>
        </tr>
        <tr>
            <td>2½</td>
            <td>Rp 17.500</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rp 24.700</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Rp 48.250</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Rp 102.750</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Rp 108.100</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Rp 218.400</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Rp 346.000</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Rp 1.373.350</td>
        </tr>
        <tr>
            <td>14</td>
            <td>–</td>
        </tr>
    </tbody>
</table>