<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>½</td>
            <td>–</td>
        </tr>
        <tr>
            <td>¾</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Rp 6.750</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1½</td>
            <td>Rp 9.200</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rp 14.300</td>
        </tr>
        <tr>
            <td>2½</td>
            <td>Rp 22.200</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rp 34.000</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Rp 62.000</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Rp 116.500</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Rp 181.000</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Rp 488.000</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Rp 1.161.600</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Rp 1.765.500</td>
        </tr>
        <tr>
            <td>14</td>
            <td>–</td>
        </tr>
    </tbody>
</table>