<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td> Harga</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td> -</td>
        </tr>
        <tr>
            <td>1½</td>
            <td> Rp 5,600</td>
        </tr>
        <tr>
            <td>2</td>
            <td> Rp 10,500</td>
        </tr>
        <tr>
            <td>2½</td>
            <td> Rp 16,100</td>
        </tr>
        <tr>
            <td>3</td>
            <td> Rp 22,850</td>
        </tr>
        <tr>
            <td>4</td>
            <td> Rp 47,600</td>
        </tr>
        <tr>
            <td>5</td>
            <td> Rp 83,600</td>
        </tr>
        <tr>
            <td>6</td>
            <td> Rp 154,300</td>
        </tr>
        <tr>
            <td>8</td>
            <td> Rp 551,000</td>
        </tr>
        <tr>
            <td>10</td>
            <td> Rp 1,299,000</td>
        </tr>
        <tr>
            <td>12</td>
            <td> -</td>
        </tr>
        <tr>
            <td>14</td>
            <td> -</td>
        </tr>
        <tr>
            <td>16</td>
            <td> -</td>
        </tr>
    </tbody>
</table>