<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td> Harga</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td> Rp 4,850</td>
        </tr>
        <tr>
            <td>1½</td>
            <td> Rp 5,000</td>
        </tr>
        <tr>
            <td>2</td>
            <td> Rp 9,300</td>
        </tr>
        <tr>
            <td>2½</td>
            <td> Rp 15,500</td>
        </tr>
        <tr>
            <td>3</td>
            <td> Rp 20,500</td>
        </tr>
        <tr>
            <td>4</td>
            <td> Rp 48,400</td>
        </tr>
        <tr>
            <td>5</td>
            <td> Rp 60,000</td>
        </tr>
        <tr>
            <td>6</td>
            <td> Rp 177,900</td>
        </tr>
        <tr>
            <td>8</td>
            <td> Rp 549,000</td>
        </tr>
        <tr>
            <td>10</td>
            <td> -</td>
        </tr>
        <tr>
            <td>12</td>
            <td> -</td>
        </tr>
        <tr>
            <td>14</td>
            <td> -</td>
        </tr>
        <tr>
            <td>16</td>
            <td> -</td>
        </tr>
    </tbody>
</table>