<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-socket" class="btn btn-primary btn-sm">Socket / Coupler</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-elbow-90" class="btn btn-primary btn-sm">Elbow/Knee 90°</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-elbow-45" class="btn btn-primary btn-sm">Elbow/Knee 45° </a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-reducer" class="btn btn-primary btn-sm">Reducer/Vlok Sock</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-tee-equal" class="btn btn-primary btn-sm">Tee Equal</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-tee-reducer" class="btn btn-primary btn-sm">Tee Reducer</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-tee-y-equal" class="btn btn-primary btn-sm">Tee Y Equal <br>(Large Radius Tee)</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-tee-y-reducer" class="btn btn-primary btn-sm">Tee Y Reducer <br>(Large Radius Tee)</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-y-branch-equal" class="btn btn-primary btn-sm">Y Branch Equal<br>(Tee 45°)</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-y-branch-reducer" class="btn btn-primary btn-sm">Y Branch Reducer<br>(Tee 45°)</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-long-elbow" class="btn btn-primary btn-sm">Long Elbow <br>(Large
    Radius Elbow)</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d-cross-tee-y" class="btn btn-primary btn-sm">Cross Tee Y</a><br><br>