<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td> Harga</td>
        </tr>
        <tr>
            <td>1¼</td>
            <td> Rp 2,250</td>
        </tr>
        <tr>
            <td>1½</td>
            <td> Rp 2,950</td>
        </tr>
        <tr>
            <td>2</td>
            <td> Rp 3,850</td>
        </tr>
        <tr>
            <td>2½</td>
            <td> Rp 8,150</td>
        </tr>
        <tr>
            <td>3</td>
            <td> Rp 11,950</td>
        </tr>
        <tr>
            <td>4</td>
            <td> Rp 25,000</td>
        </tr>
        <tr>
            <td>5</td>
            <td> Rp 44,850</td>
        </tr>
        <tr>
            <td>6</td>
            <td> Rp 73,000</td>
        </tr>
        <tr>
            <td>8</td>
            <td> Rp 161,300</td>
        </tr>
        <tr>
            <td>10</td>
            <td> Rp 321,000</td>
        </tr>
        <tr>
            <td>12</td>
            <td> Rp 485,700</td>
        </tr>
        <tr>
            <td>14</td>
            <td> Rp 2,190,000</td>
        </tr>
        <tr>
            <td>16</td>
            <td> Rp 4,900,000</td>
        </tr>
    </tbody>
</table>