<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>2 X 1½</td>
            <td> Rp 7,750</td>
        </tr>
        <tr>
            <td>2½ X 1½</td>
            <td> Rp 13,000</td>
        </tr>
        <tr>
            <td>2½ X 2</td>
            <td> Rp 13,100</td>
        </tr>
        <tr>
            <td>3 X 1½</td>
            <td> Rp 24,000</td>
        </tr>
        <tr>
            <td>3 X 2</td>
            <td> Rp 24,000</td>
        </tr>
        <tr>
            <td>3 X 2½</td>
            <td> Rp 24,000</td>
        </tr>
        <tr>
            <td>4 X 1½</td>
            <td> Rp 44,050</td>
        </tr>
        <tr>
            <td>4 X 2</td>
            <td> Rp 33,000</td>
        </tr>
        <tr>
            <td>4 X 3</td>
            <td> Rp 42,000</td>
        </tr>
        <tr>
            <td>5 X 3</td>
            <td> Rp -</td>
        </tr>
        <tr>
            <td>5 X 4</td>
            <td> Rp 48,000</td>
        </tr>
        <tr>
            <td>6 X 3</td>
            <td> Rp 152,000</td>
        </tr>
        <tr>
            <td>6 X 4</td>
            <td> Rp 152,000</td>
        </tr>
        <tr>
            <td>6 X 5</td>
            <td> Rp 156,500</td>
        </tr>
        <tr>
            <td>8 X 3</td>
            <td> -</td>
        </tr>
        <tr>
            <td>8 X 4</td>
            <td> Rp 426,000</td>
        </tr>
        <tr>
            <td>8 X 5</td>
            <td> -</td>
        </tr>
        <tr>
            <td>8 X 6</td>
            <td> Rp 529,000</td>
        </tr>
        <tr>
            <td>10 X 8</td>
            <td> Rp 722,200</td>
        </tr>
        <tr>
            <td>12 x 6</td>
            <td> -</td>
        </tr>
        <tr>
            <td>12 x 8</td>
            <td> -</td>
        </tr>
        <tr>
            <td>12 x 10</td>
            <td> -</td>
        </tr>
    </tbody>
</table>