<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>2 X 1½</td>
            <td> Rp 7,750</td>
        </tr>
        <tr>
            <td>2½ X 1½</td>
            <td> Rp 13,600</td>
        </tr>
        <tr>
            <td>2½ X 2</td>
            <td> Rp 13,600</td>
        </tr>
        <tr>
            <td>3 X 1½</td>
            <td> Rp 23,000</td>
        </tr>
        <tr>
            <td>3 X 2</td>
            <td> Rp 23,000</td>
        </tr>
        <tr>
            <td>3 X 2½</td>
            <td> Rp 27,000</td>
        </tr>
        <tr>
            <td>4 X 1½</td>
            <td> Rp 35,800</td>
        </tr>
        <tr>
            <td>4 X 2</td>
            <td> Rp 30,300</td>
        </tr>
        <tr>
            <td>4 X 3</td>
            <td> Rp 36,000</td>
        </tr>
        <tr>
            <td>5 X 3</td>
            <td> Rp 48,000</td>
        </tr>
        <tr>
            <td>5 X 4</td>
            <td> Rp 48,000</td>
        </tr>
        <tr>
            <td>6 X 3</td>
            <td> Rp 89,150</td>
        </tr>
        <tr>
            <td>6 X 4</td>
            <td> Rp 103,550</td>
        </tr>
        <tr>
            <td>6 X 5</td>
            <td> Rp 124,050</td>
        </tr>
        <tr>
            <td>8 X 3</td>
            <td> Rp 396,000</td>
        </tr>
        <tr>
            <td>8 X 4</td>
            <td> Rp 419,000</td>
        </tr>
        <tr>
            <td>8 X 5</td>
            <td> Rp 449,000</td>
        </tr>
        <tr>
            <td>8 X 6</td>
            <td> Rp 469,000</td>
        </tr>
        <tr>
            <td>10 X 8</td>
            <td> Rp 903,000</td>
        </tr>
        <tr>
            <td>12 x 6</td>
            <td> -</td>
        </tr>
        <tr>
            <td>12 x 8</td>
            <td> -</td>
        </tr>
        <tr>
            <td>12 x 10</td>
            <td> -</td>
        </tr>
    </tbody>
</table>