<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">DOP (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ukuran</td>
            <td>Isi/Dus</td>
            <td>Harga/Pcs</td>
        </tr>
        <tr>
            <td>1/2"</td>
            <td>600</td>
            <td>700</td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>400</td>
            <td>950</td>
        </tr>
        <tr>
            <td>1"</td>
            <td>300</td>
            <td>1275</td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>180</td>
            <td>1805</td>
        </tr>
    </tbody>
</table>