<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">V LOCK SOCK (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ukuran</td>
            <td>Isi/Dus</td>
            <td>Harga/Pcs</td>
        </tr>
        <tr>
            <td>3/4"X1/2"</td>
            <td>270</td>
            <td>1225</td>
        </tr>
        <tr>
            <td>1"X1/2"</td>
            <td>260</td>
            <td>1525</td>
        </tr>
        <tr>
            <td>1"X3/4"</td>
            <td>260</td>
            <td>1575</td>
        </tr>
        <tr>
            <td>1-1/4"X1/2"</td>
            <td>280</td>
            <td>1950</td>
        </tr>
        <tr>
            <td>1-1/4"X3/4"</td>
            <td>280</td>
            <td>2250</td>
        </tr>
        <tr>
            <td>1-1/4"X1"</td>
            <td>280</td>
            <td>2525</td>
        </tr>
        <tr>
            <td>1-1/2"X1/2"</td>
            <td>176</td>
            <td>3900</td>
        </tr>
        <tr>
            <td>1-1/2"X3/4"</td>
            <td>176</td>
            <td>4100</td>
        </tr>
        <tr>
            <td>1-1/2"X1"</td>
            <td>176</td>
            <td>4275</td>
        </tr>
        <tr>
            <td>2"X1/2"</td>
            <td>90</td>
            <td>5700</td>
        </tr>
        <tr>
            <td>2"X3/4"</td>
            <td>90</td>
            <td>5975</td>
        </tr>
        <tr>
            <td>2"X1"</td>
            <td>90</td>
            <td>6375</td>
        </tr>
        <tr>
            <td>2-1/2"X3/4"</td>
            <td>66</td>
            <td>15200</td>
        </tr>
        <tr>
            <td>2-1/2"X1"</td>
            <td>66</td>
            <td>15975</td>
        </tr>
        <tr>
            <td>3"X1"</td>
            <td>36</td>
            <td>17875</td>
        </tr>
    </tbody>
</table>