<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">KNEE DRAT DALAM </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ukuran</td>
            <td>Isi/Dus</td>
            <td>Harga/Pcs</td>
        </tr>
        <tr>
            <td>1/2"</td>
            <td>250</td>
            <td>1575</td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>190</td>
            <td>2295</td>
        </tr>
        <tr>
            <td>1/2"x3/4"</td>
            <td>200</td>
            <td>2000</td>
        </tr>
    </tbody>
</table>