<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">V LOCK SOCK (D)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ukuran</td>
            <td>Isi/Dus</td>
            <td>Harga/Pcs</td>
        </tr>
        <tr>
            <td>1-1/2"X1-1/4"</td>
            <td>90</td>
            <td>2575</td>
        </tr>
        <tr>
            <td>2"X1-1/4"</td>
            <td>90</td>
            <td>3325</td>
        </tr>
        <tr>
            <td>2"X1-1/2"</td>
            <td>90</td>
            <td>3425</td>
        </tr>
        <tr>
            <td>2-1/2"X1-1/4"</td>
            <td>60</td>
            <td>4750</td>
        </tr>
        <tr>
            <td>2-1/2"X1-1/2"</td>
            <td>60</td>
            <td>4850</td>
        </tr>
        <tr>
            <td>2-1/2"X2"</td>
            <td>60</td>
            <td>4950</td>
        </tr>
        <tr>
            <td>3"X1-1/4"</td>
            <td>40</td>
            <td>5175</td>
        </tr>
        <tr>
            <td>3"X1-1/2"</td>
            <td>40</td>
            <td>5200</td>
        </tr>
        <tr>
            <td>3"X2"</td>
            <td>40</td>
            <td>5250</td>
        </tr>
        <tr>
            <td>3"X2-1/2"</td>
            <td>32</td>
            <td>5275</td>
        </tr>
        <tr>
            <td>4"X1-1/4"</td>
            <td>63</td>
            <td>6625</td>
        </tr>
        <tr>
            <td>4"X1-1/2"</td>
            <td>63</td>
            <td>6650</td>
        </tr>
        <tr>
            <td>4"X2"</td>
            <td>63</td>
            <td>6675</td>
        </tr>
        <tr>
            <td>4"X2-1/2"</td>
            <td>63</td>
            <td>6700</td>
        </tr>
        <tr>
            <td>4"X3"</td>
            <td>50</td>
            <td>6975</td>
        </tr>
    </tbody>
</table>