<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-d-socket" class="btn btn-primary btn-sm">
    Socket / Coupler
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-d-elbow-90" class="btn btn-primary btn-sm">
    Elbow 90° / Knee 90°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-d-elbow-45" class="btn btn-primary btn-sm">
    Elbow 45° / Knee 45°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-d-reducer" class="btn btn-primary btn-sm">
    Reducer D<br> (Vlok Sok)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-d-co" class="btn btn-primary btn-sm">
    Clean Out/ CO <br> (Clean Out/ CO - D)
</a>