<img src="../img/fitting-pvc/socket-lesso-d-ds.png" alt="Socket D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-socket" class="btn btn-primary btn-sm">
    Socket / Coupler (D-DS)
</a>

<br><br>

<img src="../img/fitting-pvc/elbow-d-dl-lesso.png" alt="Elbow 90 D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-elbow" class="btn btn-primary btn-sm">
    Elbow 90° / Knee 90°
</a>

<br><br>

<img src="../img/fitting-pvc/elbow-45-lesso-d-45l.png" alt="Elbow 45 D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-elbow-45" class="btn btn-primary btn-sm">
    Elbow 45° / Knee 45° (D-45L)
</a>

<br><br>

<img src="../img/fitting-pvc/large-radius-elbow-d-ll-lesso.png" alt="Large Radius Elbow D-LL PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-dll" class="btn btn-primary btn-sm">
    Large Radius Elbow (D-LL)
</a>

<br><br>

<img src="../img/fitting-pvc/tee-lesso-d-dt.png" alt="Tee D-DT PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-tee" class="btn btn-primary btn-sm">
    Tee (D-DT)
</a>

<br><br>

<img src="../img/fitting-pvc/large-radius-tee-d-lt.png" alt="Large Radius Tee D-LT PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-lrt" class="btn btn-primary btn-sm">
   Large Radius Tee (D-LT)
</a>

<br><br>

<img src="../img/fitting-pvc/y-branch-lesso-d-y.png" alt="Y Branch D-Y PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-ybranch" class="btn btn-primary btn-sm">
    Y Branch (D-Y)
 </a>
 
 <br><br>

 <img src="../img/fitting-pvc/large-radius-double-tee-d-wlt.png" alt="Large Radius Double Tee (D-WLT) PVC" width="200">
 <br>
 <a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-dwlt" class="btn btn-primary btn-sm">
    Large Radius Double Tee (D-WLT)
 </a>

 <br><br>

<img src="../img/fitting-pvc/increaser-lesso-d-in.png" alt="Increaser D-IN PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-increaser" class="btn btn-primary btn-sm">
   Increaser (D-IN) 
</a>

<br><br>

<img src="../img/fitting-pvc/clean-out-d-lesso.png" alt="Clean Out D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-co" class="btn btn-primary btn-sm">
    Clean Out/ CO
</a>

<br><br>

<img src="../img/fitting-pvc/clean-out-cap-d-co-lesso.png" alt="Clean Out Cap D-CO PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-ddco" class="btn btn-primary btn-sm">
    Clean Out Cap (D-DCO)
</a>

<br><br>

<img src="../img/fitting-pvc/cap-pvc-lesso-d.png" alt="Cap D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-cap" class="btn btn-primary btn-sm">
 Cap (D)
</a>

<br><br>

<img src="../img/fitting-pvc/p-trap-d-lesso.png" alt="P-Trap D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-ptrap" class="btn btn-primary btn-sm">
   P-Trap D
   </a>
   
   <br><br>

