<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">REDUCING TEE (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>3/4X1/2</td>
            <td>150</td>
            <td> Rp2,710 </td>
        </tr>
        <tr>
            <td>1X1/2</td>
            <td>100</td>
            <td> Rp4,100 </td>
        </tr>
        <tr>
            <td>1X3/4</td>
            <td>100</td>
            <td> Rp4,280 </td>
        </tr>
        <tr>
            <td>1 1/4X1/2</td>
            <td>60</td>
            <td> Rp3,120 </td>
        </tr>
        <tr>
            <td>1 1/4X3/4</td>
            <td>60</td>
            <td> Rp6,380 </td>
        </tr>
        <tr>
            <td>1 1/4X1</td>
            <td>54</td>
            <td> Rp7,250 </td>
        </tr>
        <tr>
            <td>1 1/2X1/2</td>
            <td>48</td>
            <td> Rp8,380 </td>
        </tr>
        <tr>
            <td>1 1/2X3/4</td>
            <td>42</td>
            <td> Rp8,380 </td>
        </tr>
        <tr>
            <td>1 1/2X1</td>
            <td>39</td>
            <td> Rp8,910 </td>
        </tr>
        <tr>
            <td>1 1/2X1 1/4</td>
            <td>75</td>
            <td> Rp10,040 </td>
        </tr>
        <tr>
            <td>2X1/2</td>
            <td>72</td>
            <td> Rp10,130 </td>
        </tr>
        <tr>
            <td>2X3/4</td>
            <td>72</td>
            <td> Rp10,220 </td>
        </tr>
        <tr>
            <td>2X1</td>
            <td>60</td>
            <td> Rp10,570 </td>
        </tr>
        <tr>
            <td>2X1 1/4</td>
            <td>50</td>
            <td> Rp14,590 </td>
        </tr>
        <tr>
            <td>2X1 1/2</td>
            <td>48</td>
            <td> Rp14,670 </td>
        </tr>
        <tr>
            <td>3X2</td>
            <td>20</td>
            <td> Rp28,480 </td>
        </tr>
    </tbody>
</table>