<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">LARGE RADIUS TEE (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>4X2</td>
            <td>11</td>
            <td> Rp71,370 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td> Rp120,460 </td>
        </tr>
        <tr>
            <td>6X4</td>
            <td>5</td>
            <td> Rp288,950 </td>
        </tr>
    </tbody>
</table>