<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">FAUCET ELBOW (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1/2</td>
            <td>300</td>
            <td> Rp1,490 </td>
        </tr>
        <tr>
            <td>1/2X3/4</td>
            <td>250</td>
            <td> Rp1,750 </td>
        </tr>
        <tr>
            <td>3/4</td>
            <td>200</td>
            <td> Rp2,350 </td>
        </tr>
        <tr>
            <td>1</td>
            <td>120</td>
            <td> Rp3,500 </td>
        </tr>
        <tr>
            <td>1X1/2</td>
            <td>160</td>
            <td> Rp2,450 </td>
        </tr>
    </tbody>
</table>