
<img src="../img/fitting-pvc/elbow-aw-lesso.png" alt="Elbow 90 AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-elbow" class="btn btn-primary btn-sm">
    Elbow 90° / Knee 90°
</a>

<br><br>

<img src="../img/fitting-pvc/elbow-45-aw-lesso.png" alt="Elbow 45 PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-elbow-45" class="btn btn-primary btn-sm">
    Elbow 45° / Knee 45°
</a>

<br><br>

<img src="../img/fitting-pvc/tee-aw-lesso.png" alt="Tee AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-tee" class="btn btn-primary btn-sm">
    Tee Equal
</a>

<br><br>

<img src="../img/fitting-pvc/reducing-tee-aw-lesso.png" alt="Tee Reducing AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-tee-reducing" class="btn btn-primary btn-sm">
    Tee Reducing
</a>

<br><br>

<img src="../img/fitting-pvc/large-radius-tee-aw-lesso.png" alt="Large Radius Tee AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-large-radius-tee" class="btn btn-primary btn-sm">
Large Radius Tee
</a>

<br><br>

<img src="../img/fitting-pvc/socket-aw-lesso.png" alt="Socket AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-socket" class="btn btn-primary btn-sm">
    Socket / Coupler
</a>

<br><br>

<img src="../img/fitting-pvc/faucet-elbow-aw-lesso.png" alt="Faucet Elbow AW PVC" width="180">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-kdd" class="btn btn-primary btn-sm">
Knee Drat Dalam / KDD (Faucet Elbow)
</a>

<br><br>

<img src="../img/fitting-pvc/faucet-elbow-w-metal-insert-aw-lesso.png" alt="faucet elbow metal insert AW PVC" width="180">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-kddm" class="btn btn-primary btn-sm">
    Knee Drat Dalam Metal / KDDM (Faucet Elbow With Metal Insert)
    </a>
    
    <br><br>

<img src="../img/fitting-pvc/faucet-tee-aw-lesso.png" alt="Faucet Tee AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-tdd" class="btn btn-primary btn-sm">
    Tee Drat Dalam / TDD (Faucet Tee)
</a>

<br><br>

<img src="../img/fitting-pvc/faucet-tee-w-metal-insert.png" alt="Faucet Tee With Metal Insert AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-tddm" class="btn btn-primary btn-sm">
    Tee Drat Dalam Metal/ TDDM (Faucet Tee With Metal Insert)
</a>

<br><br>

<img src="../img/fitting-pvc/cap-aw-lesso.png" alt="Cap AW PVC" width="150">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-cap" class="btn btn-primary btn-sm">
Cap
</a>

<br><br>

<img src="../img/fitting-pvc/flange-aw-lesso.png" alt="Flange AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-flange" class="btn btn-primary btn-sm">
   Flange
</a>

<br><br>

<img src="../img/fitting-pvc/faucet-socket-aw-lesso.png" alt="Faucet Socket AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-sdd" class="btn btn-primary btn-sm">
    Sock Drat Dalam/SDD (Faucet Socket)
</a>

<br><br>
<img src="../img/fitting-pvc/faucet-socket-with-metal-insert-aw-lesso.png" alt="Faucet Socket With Metal Insert AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-sddm" class="btn btn-primary btn-sm">
    Sock Drat Dalam Metal/SDDM (Faucet Socket With Metal Insert)
</a>

<br><br>

<img src="../img/fitting-pvc/valve-socket-aw-lesso.png" alt="Valve Socket AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-sdl" class="btn btn-primary btn-sm">
    Sock Drat Luar/SDL
</a>

<br><br>

<img src="../img/fitting-pvc/reducer-aw-lesso.png" alt="Reducer AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-reducer" class="btn btn-primary btn-sm">
    Reducer <br> (Vlok Sok)
</a>

<br><br>

<img src="../img/fitting-pvc/union-socket-aw-lesso.png" alt="Union Socket AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-union-socket" class="btn btn-primary btn-sm">
    Watermur/Union Socket
</a>

<br><br>

<img src="../img/fitting-pvc/union-threaded-aw-lesso.png" alt="Union Threaded AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-watermur-drat-dalam" class="btn btn-primary btn-sm">
    Watermur/Union Drat Dalam
</a>

<br><br>

<img src="../img/fitting-pvc/double-nipple-aw-lesso.png" alt="Double Nipple AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-double-nipple" class="btn btn-primary btn-sm">
    Double Nipple
</a>

<br><br>

<img src="../img/fitting-pvc/plug-aw-lesso.png" alt="Plug AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-plug" class="btn btn-primary btn-sm">
    Plug
</a>
