<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">SOCKET (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1/2</td>
            <td>375</td>
            <td> Rp1,220 </td>
        </tr>
        <tr>
            <td>3/4</td>
            <td>250</td>
            <td> Rp1,570 </td>
        </tr>
        <tr>
            <td>1</td>
            <td>160</td>
            <td> Rp2,440 </td>
        </tr>
        <tr>
            <td>1 1/4</td>
            <td>120</td>
            <td> Rp4,190 </td>
        </tr>
        <tr>
            <td>1 1/2</td>
            <td>78</td>
            <td> Rp6,030 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>96</td>
            <td> Rp9,350 </td>
        </tr>
        <tr>
            <td>2 1/2</td>
            <td>56</td>
            <td> Rp15,720 </td>
        </tr>
        <tr>
            <td>3</td>
            <td>40</td>
            <td> Rp22,630 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>20</td>
            <td> Rp44,810 </td>
        </tr>
        <tr>
            <td>6</td>
            <td>6</td>
            <td> Rp94,420 </td>
        </tr>
    </tbody>
</table>