<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">Y BRANCH (D-Y)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1 1/2X1 1/4</td>
            <td>65</td>
            <td> Rp5,070 </td>
        </tr>
        <tr>
            <td>1 1/2</td>
            <td>55</td>
            <td> Rp5,940 </td>
        </tr>
        <tr>
            <td>2X1 1/4</td>
            <td>40</td>
            <td> Rp6,030 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>32</td>
            <td> Rp9,350 </td>
        </tr>
        <tr>
            <td>3X2</td>
            <td>30</td>
            <td> Rp16,510 </td>
        </tr>
        <tr>
            <td>3</td>
            <td>20</td>
            <td> Rp20,170 </td>
        </tr>
        <tr>
            <td>4X2</td>
            <td>20</td>
            <td> Rp25,770 </td>
        </tr>
        <tr>
            <td>4X3</td>
            <td>10</td>
            <td> Rp36,640 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>8</td>
            <td> Rp42,280 </td>
        </tr>
        <tr>
            <td>6X4</td>
            <td>3</td>
            <td> Rp106,140 </td>
        </tr>
        <tr>
            <td>6</td>
            <td>2</td>
            <td> Rp132,080 </td>
        </tr>
    </tbody>
</table>