<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">VALVE SOCKET (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1/2</td>
            <td>525</td>
            <td> Rp960 </td>
        </tr>
        <tr>
            <td>1/2X3/4</td>
            <td>&nbsp;</td>
            <td> Rp1,660 </td>
        </tr>
        <tr>
            <td>3/4</td>
            <td>300</td>
            <td> Rp1,400 </td>
        </tr>
        <tr>
            <td>3/4 X 1/2</td>
            <td>360</td>
            <td> Rp1,400 </td>
        </tr>
        <tr>
            <td>1 X1/2</td>
            <td>300</td>
            <td> Rp1,660 </td>
        </tr>
        <tr>
            <td>1X3/4</td>
            <td>270</td>
            <td> Rp1,750 </td>
        </tr>
        <tr>
            <td>1</td>
            <td>180</td>
            <td> Rp1,930 </td>
        </tr>
        <tr>
            <td>1 1/4</td>
            <td>130</td>
            <td> Rp3,670 </td>
        </tr>
        <tr>
            <td>1 1/2</td>
            <td>120</td>
            <td> Rp5,070 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>150</td>
            <td> Rp7,510 </td>
        </tr>
        <tr>
            <td>3</td>
            <td>24</td>
            <td> Rp17,640 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>24</td>
            <td> Rp31,270 </td>
        </tr>
    </tbody>
</table>