<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">FAUCET ELBOW WITH METAL INSERT (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1/2</td>
            <td>240</td>
            <td> Rp6,990 </td>
        </tr>
        <tr>
            <td>1/2X3/4</td>
            <td>180</td>
            <td> Rp10,130 </td>
        </tr>
        <tr>
            <td>3/4</td>
            <td>120</td>
            <td> Rp11,790 </td>
        </tr>
    </tbody>
</table>