<img src="../img/fitting-pvc/socket-lesso-d-ds.png" alt="Socket D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-socket" class="btn btn-primary btn-sm">
    Socket / Coupler (D-DS)
</a>

<br><br>

<img src="../img/fitting-pvc/elbow-d-dl-lesso.png" alt="Elbow 90 D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-elbow" class="btn btn-primary btn-sm">
    Elbow 90° / Knee 90°
</a>

<br><br>

<img src="../img/fitting-pvc/elbow-45-lesso-d-45l.png" alt="Elbow 45 D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-elbow-45" class="btn btn-primary btn-sm">
    Elbow 45° / Knee 45° (D-45L)
</a>

<br><br>

<img src="../img/fitting-pvc/increaser-lesso-d-in.png" alt="Increaser D-IN PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-increaser" class="btn btn-primary btn-sm">
   Increaser (D-IN) 
</a>

<br><br>

<img src="../img/fitting-pvc/clean-out-d-lesso.png" alt="Clean Out D PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-co" class="btn btn-primary btn-sm">
    Clean Out/ CO
</a>

<br><br>

<img src="../img/fitting-pvc/clean-out-cap-d-co-lesso.png" alt="Clean Out Cap D-CO PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-d-ddco" class="btn btn-primary btn-sm">
    Clean Out Cap (D-DCO)
</a>