<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">TEE (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1/2</td>
            <td>180</td>
            <td> Rp1,930 </td>
        </tr>
        <tr>
            <td>3/4</td>
            <td>125</td>
            <td> Rp2,710 </td>
        </tr>
        <tr>
            <td>1</td>
            <td>75</td>
            <td> Rp4,460 </td>
        </tr>
        <tr>
            <td>1 1/4</td>
            <td>48</td>
            <td> Rp7,510 </td>
        </tr>
        <tr>
            <td>1 1/2</td>
            <td>72</td>
            <td> Rp10,040 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>48</td>
            <td> Rp15,980 </td>
        </tr>
        <tr>
            <td>2 1/2</td>
            <td>24</td>
            <td> Rp24,550 </td>
        </tr>
        <tr>
            <td>3</td>
            <td>15</td>
            <td> Rp37,130 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>8</td>
            <td> Rp74,250 </td>
        </tr>
        <tr>
            <td>6</td>
            <td>2</td>
            <td> Rp387,230 </td>
        </tr>
    </tbody>
</table>