<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">UNION TREADED (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1/2</td>
            <td>150</td>
            <td> Rp14,420 </td>
        </tr>
        <tr>
            <td>3/4</td>
            <td>125</td>
            <td> Rp17,610 </td>
        </tr>
        <tr>
            <td>1</td>
            <td>80</td>
            <td> Rp24,190 </td>
        </tr>
        <tr>
            <td> 1 1/4</td>
            <td>50</td>
            <td> Rp52,420 </td>
        </tr>
        <tr>
            <td>1 1/2</td>
            <td>40</td>
            <td> Rp70,750 </td>
        </tr>
    </tbody>
</table>