<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">ELBOW (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1/2</td>
            <td>300</td>
            <td> Rp1,490 </td>
        </tr>
        <tr>
            <td>3/4</td>
            <td>200</td>
            <td> Rp1,930 </td>
        </tr>
        <tr>
            <td>1</td>
            <td>125</td>
            <td> Rp3,060 </td>
        </tr>
        <tr>
            <td>1 1/4</td>
            <td>70</td>
            <td> Rp5,320 </td>
        </tr>
        <tr>
            <td>1 1/2</td>
            <td>45</td>
            <td> Rp7,430 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>32</td>
            <td> Rp11,350 </td>
        </tr>
        <tr>
            <td>2 1/2</td>
            <td>40</td>
            <td> Rp17,910 </td>
        </tr>
        <tr>
            <td>3</td>
            <td>24</td>
            <td> Rp30,050 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>10</td>
            <td> Rp55,740 </td>
        </tr>
        <tr>
            <td>6</td>
            <td>3</td>
            <td> Rp140,990 </td>
        </tr>
    </tbody>
</table>