<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">LARGE RADIUS DOUBLE TEE (D-WLT)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>2</td>
            <td>10</td>
            <td> Rp13,100 </td>
        </tr>
        <tr>
            <td>3X2</td>
            <td>18</td>
            <td> Rp19,480 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td> Rp67,270 </td>
        </tr>
    </tbody>
</table>