<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">FLANGE (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>2</td>
            <td>25</td>
            <td> Rp22,630 </td>
        </tr>
        <tr>
            <td>3</td>
            <td>10</td>
            <td> Rp35,020 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>18</td>
            <td> Rp57,830 </td>
        </tr>
        <tr>
            <td>6</td>
            <td>6</td>
            <td> Rp132,430 </td>
        </tr>
    </tbody>
</table>