<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">INCREASER (D-IN)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1 1/2X1 1/4</td>
            <td>170</td>
            <td> Rp2,100 </td>
        </tr>
        <tr>
            <td>2X1 1/4</td>
            <td>125</td>
            <td> Rp2,790 </td>
        </tr>
        <tr>
            <td>2X1 1/2</td>
            <td>100</td>
            <td> Rp2,710 </td>
        </tr>
        <tr>
            <td>2 1/2X1 1/2</td>
            <td>70</td>
            <td> Rp4,460 </td>
        </tr>
        <tr>
            <td>2 1/2X2</td>
            <td>90</td>
            <td> Rp4,810 </td>
        </tr>
        <tr>
            <td>3X1 1/2</td>
            <td>66</td>
            <td> Rp5,680 </td>
        </tr>
        <tr>
            <td>3X2</td>
            <td>66</td>
            <td> Rp6,200 </td>
        </tr>
        <tr>
            <td>3X2 1/2</td>
            <td>115</td>
            <td> Rp6,290 </td>
        </tr>
        <tr>
            <td>4X2</td>
            <td>48</td>
            <td> Rp10,480 </td>
        </tr>
        <tr>
            <td>4X2 1/2</td>
            <td>56</td>
            <td> Rp11,530 </td>
        </tr>
        <tr>
            <td>4X3</td>
            <td>56</td>
            <td> Rp12,230 </td>
        </tr>
        <tr>
            <td>6X3</td>
            <td>18</td>
            <td> Rp34,510 </td>
        </tr>
        <tr>
            <td>6X4</td>
            <td>15</td>
            <td> Rp33,980 </td>
        </tr>
    </tbody>
</table>