
<img src="../img/fitting-pvc/elbow-aw-lesso.png" alt="elbow 90 AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-elbow" class="btn btn-primary btn-sm">
    Elbow 90° / Knee 90°
</a>

<br><br>

<img src="../img/fitting-pvc/tee-aw-lesso.png" alt="Tee AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-tee" class="btn btn-primary btn-sm">
    Tee Equal
</a>

<br><br>

<img src="../img/fitting-pvc/socket-aw-lesso.png" alt="Socket AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-lesso-aw-socket" class="btn btn-primary btn-sm">
    Socket / Coupler
</a>

<br><br>

<img src="../img/fitting-pvc/faucet-elbow-aw-lesso.png" alt="faucet elbow AW PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-kdd" class="btn btn-primary btn-sm">
Knee Drat Dalam / KDD (Faucet Elbow)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-tdd" class="btn btn-primary btn-sm">
    Tee Drat Dalam / TDD
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-dop-drat" class="btn btn-primary btn-sm">
    Dop Drat
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-dop" class="btn btn-primary btn-sm">
    Dop
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-sdd" class="btn btn-primary btn-sm">
    Sock Drat Dalam/SDD
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-sdl" class="btn btn-primary btn-sm">
    Sock Drat Luar/SDL
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-reducer" class="btn btn-primary btn-sm">
    Reducer <br> (Vlok Sok)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-watermur-socket" class="btn btn-primary btn-sm">
    Watermur/Union Socket
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-watermur-drat-dalam" class="btn btn-primary btn-sm">
    Watermur/Union Drat Dalam
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-watermur-drat-luar" class="btn btn-primary btn-sm">
    Watermur/Union Drat Luar
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-gb-aw-plug" class="btn btn-primary btn-sm">
    Plug
</a>
