<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">LARGE RADIUS ELBOW (D-LL)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1 1/4</td>
            <td>120</td>
            <td> Rp3,500 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>40</td>
            <td> Rp7,600 </td>
        </tr>
        <tr>
            <td>3</td>
            <td>12</td>
            <td> Rp17,200 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>10</td>
            <td> Rp35,900 </td>
        </tr>
        <tr>
            <td>6</td>
            <td>3</td>
            <td> Rp108,320 </td>
        </tr>
    </tbody>
</table>