<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">REDUCING SOCKET (AW)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>3/4X1/2</td>
            <td>300</td>
            <td> Rp1,660 </td>
        </tr>
        <tr>
            <td>1X1/2</td>
            <td>200</td>
            <td> Rp1,750 </td>
        </tr>
        <tr>
            <td>1X3/4</td>
            <td>180</td>
            <td> Rp2,280 </td>
        </tr>
        <tr>
            <td>1 1/4X1/2</td>
            <td>180</td>
            <td> Rp2,530 </td>
        </tr>
        <tr>
            <td>X 1/4X3/4</td>
            <td>180</td>
            <td> Rp2,880 </td>
        </tr>
        <tr>
            <td>1 1/4X1</td>
            <td>120</td>
            <td> Rp3,500 </td>
        </tr>
        <tr>
            <td>1 1/2X1/2</td>
            <td>90</td>
            <td> Rp3,670 </td>
        </tr>
        <tr>
            <td>1 1/2X3/4</td>
            <td>84</td>
            <td> Rp3,840 </td>
        </tr>
        <tr>
            <td>1 1/2X1</td>
            <td>108</td>
            <td> Rp4,810 </td>
        </tr>
        <tr>
            <td>1 1/2X1 1/4</td>
            <td>70</td>
            <td> Rp5,410 </td>
        </tr>
        <tr>
            <td>2X1/2</td>
            <td>60</td>
            <td> Rp6,030 </td>
        </tr>
        <tr>
            <td>2X3/4</td>
            <td>120</td>
            <td> Rp5,410 </td>
        </tr>
        <tr>
            <td>2X1/2</td>
            <td>120</td>
            <td> Rp6,560 </td>
        </tr>
        <tr>
            <td>2X1 1/4</td>
            <td>60</td>
            <td> Rp7,690 </td>
        </tr>
        <tr>
            <td>2X1 1/2</td>
            <td>60</td>
            <td> Rp8,220 </td>
        </tr>
        <tr>
            <td>3X2</td>
            <td>60</td>
            <td> Rp14,590 </td>
        </tr>
        <tr>
            <td>4X1 1/2</td>
            <td>24</td>
            <td> Rp38,790 </td>
        </tr>
        <tr>
            <td>4X2</td>
            <td>24</td>
            <td> Rp35,820 </td>
        </tr>
        <tr>
            <td>4X3</td>
            <td>24</td>
            <td> Rp41,580 </td>
        </tr>
        <tr>
            <td>6X3</td>
            <td>6</td>
            <td> Rp71,370 </td>
        </tr>
        <tr>
            <td>6X4</td>
            <td>6</td>
            <td> Rp77,840 </td>
        </tr>
    </tbody>
</table>