<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th colspan="3">SOCKET (D-DS)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1 1/4</td>
            <td>280</td>
            <td> Rp1,310 </td>
        </tr>
        <tr>
            <td>1 1/2</td>
            <td>210</td>
            <td> Rp1,660 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>120</td>
            <td> Rp2,530 </td>
        </tr>
        <tr>
            <td>2 1/2</td>
            <td>60</td>
            <td> Rp4,280 </td>
        </tr>
        <tr>
            <td>3</td>
            <td>72</td>
            <td> Rp6,640 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>36</td>
            <td> Rp12,060 </td>
        </tr>
        <tr>
            <td>6</td>
            <td>12</td>
            <td> Rp29,610 </td>
        </tr>
    </tbody>
</table>