<table class="table table-bordered table-hover">
    <thead>
        <tr colspan="3">
            <th>ELBOW 45° AW</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Inch</td>
            <td>Isi/Box</td>
            <td>Harga</td>
        </tr>
        <tr>
            <td>1/2</td>
            <td>320</td>
            <td> Rp1,790 </td>
        </tr>
        <tr>
            <td>3/4</td>
            <td>200</td>
            <td> Rp2,500 </td>
        </tr>
        <tr>
            <td>1</td>
            <td>130</td>
            <td> Rp3,660 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>60</td>
            <td> Rp12,930 </td>
        </tr>
        <tr>
            <td>4</td>
            <td>12</td>
            <td> Rp54,330 </td>
        </tr>
        <tr>
            <td>6</td>
            <td>3</td>
            <td> Rp155,400 </td>
        </tr>
    </tbody>
</table>