<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/2″X1 1/4″</td>
            <td>Rp 6,500 </td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>Rp 6,600 </td>
        </tr>
        <tr>
            <td>2″X1 1/2″</td>
            <td>Rp 9,600 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 13,200 </td>
        </tr>
        <tr>
            <td>2 1/2″X1 1/2″</td>
            <td>Rp 13,400 </td>
        </tr>
        <tr>
            <td>2 1/2″X2″</td>
            <td>Rp 16,400 </td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>Rp 20,600 </td>
        </tr>
        <tr>
            <td>3″X2″</td>
            <td>Rp 21,600 </td>
        </tr>
        <tr>
            <td>3″X2 1/2″</td>
            <td>Rp 28,400 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 27,900 </td>
        </tr>
        <tr>
            <td>4″X2″</td>
            <td>Rp 33,400 </td>
        </tr>
        <tr>
            <td>4″X3″</td>
            <td>Rp 45,700 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 52,400 </td>
        </tr>
        <tr>
            <td>5″X4″</td>
            <td>Rp 90,400 </td>
        </tr>
        <tr>
            <td>6″ X 4″</td>
            <td>Rp 115,000 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 169,800 </td>
        </tr>
    </tbody>
</table>