<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga/pcs (Rp)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>
            <td>Rp 2,500 </td>
        </tr>
        <tr>
            <td>3/4" x 1/2"</td>
            <td>Rp 3,500 </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>Rp 3,500 </td>
        </tr>
        <tr>
            <td>1" x 1/2"</td>
            <td>Rp 5,200 </td>
        </tr>
        <tr>
            <td>1" x 3/4"</td>
            <td>Rp 5,400 </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>Rp 5,700 </td>
        </tr>
        <tr>
            <td>1-1/4" x 1/2"</td>
            <td>Rp 7,700 </td>
        </tr>
        <tr>
            <td>1-1/4" x 3/4"</td>
            <td>Rp 8,100 </td>
        </tr>
        <tr>
            <td>1-1/4" x 1"</td>
            <td>Rp 9,200 </td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>Rp 9,500 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1/2"</td>
            <td>Rp 10,600 </td>
        </tr>
        <tr>
            <td>1-1/2" x 3/4"</td>
            <td>Rp 10,600 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1"</td>
            <td>Rp 11,300 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1-1/4"</td>
            <td>Rp 12,700 </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>Rp 12,700 </td>
        </tr>
        <tr>
            <td>2" x 1/2"</td>
            <td>Rp 12,800 </td>
        </tr>
        <tr>
            <td>2" x 3/4"</td>
            <td>Rp 12,900 </td>
        </tr>
        <tr>
            <td>2" x 1"</td>
            <td>Rp 13,400 </td>
        </tr>
        <tr>
            <td>2" x 1-1/4"</td>
            <td>Rp 18,400 </td>
        </tr>
        <tr>
            <td>2" x 1-1/2"</td>
            <td>Rp 18,500 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>Rp 20,200 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>Rp 31,000 </td>
        </tr>
        <tr>
            <td>3" x 1"</td>
            <td>Rp 28,300 </td>
        </tr>
        <tr>
            <td>3" x 1-1/2"</td>
            <td>Rp 33,300 </td>
        </tr>
        <tr>
            <td>3" x 2"</td>
            <td>Rp 35,900 </td>
        </tr>
        <tr>
            <td>3" x 2-1/2"</td>
            <td>Rp 40,900 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>Rp 46,800 </td>
        </tr>
        <tr>
            <td>4" x 2"</td>
            <td>Rp 72,100 </td>
        </tr>
        <tr>
            <td>4" x 3"</td>
            <td>Rp 87,800 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>Rp 93,500 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>Rp 235,200 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>Rp 487,700 </td>
        </tr>
    </tbody>
</table>