<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga/pcs (Rp)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>
            <td>Rp 23,600 </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>Rp 28,900 </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>Rp 39,800 </td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>Rp 66,000 </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>Rp 90,000 </td>
        </tr>
    </tbody>
</table>