<img src="../img/fitting-pvc/socket.png" alt="sock PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-socket" class="btn btn-primary btn-sm">
    Socket / Coupler
</a>
<hr>
<br><br>

<img src="../img/fitting-pvc/elbow-90-aw.png" alt="Elbow 90° PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-elbow-90" class="btn btn-primary btn-sm">
    Elbow 90° / Knee 90°
</a>
<hr>
<br><br>

<img src="../img/fitting-pvc/elbow-45-aw.png" alt="Elbow 45° PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-elbow-45" class="btn btn-primary btn-sm">
    Elbow 45° / Knee 45°
</a>
<hr>
<br><br>

<img src="../img/fitting-pvc/reducer.png" alt="reducer/vlok sock PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-reducer" class="btn btn-primary btn-sm">
    Reducer <br> (Vlok Sok)
</a>
<hr>
<br><br>

<img src="../img/fitting-pvc/socket-drat-dalam.png" alt="socket drat dalam PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-sdd" class="btn btn-primary btn-sm">
    Socket Drat Dalam <br> (SDD/Faucet Socket)
</a>
<hr>
<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-sdd-mi" class="btn btn-primary btn-sm">
    Socket Drat Dalam (SDD)<br> drat kuningan
</a>
<hr>
<br><br>

<img src="../img/fitting-pvc/socket-drat-luar.png" alt="socket drat luar PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-sdl" class="btn btn-primary btn-sm">
    Socket Drat Luar <br> (SDL/Valve Socket)
</a>
<hr>
<br><br>

<img src="../img/fitting-pvc/knee-drat-dalam.png" alt="Knee Drat Dalam PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-kdd" class="btn btn-primary btn-sm">
    Elbow/Knee Drat Dalam <br> (KDD/Faucet Elbow)
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/knee-drat-dalam-kuningan.png" alt="Knee Drat Dalam PVC (kuningan)" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-kdd-mi" class="btn btn-primary btn-sm">
    Elbow/Knee Drat Dalam (KDD)<br> drat kuningan
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/tee.png" alt="tee PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tee" class="btn btn-primary btn-sm">
    Tee
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/large-radius-tee.png" alt="tee y PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tee-y" class="btn btn-primary btn-sm">
    Tee Y <br>
    (Large Radius Tee)
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/y-branch.png" alt="y branch PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-y-branch" class="btn btn-primary btn-sm">
    Y Branch
    <br>(Tee 45°)
</a>
<hr>
<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tdd" class="btn btn-primary btn-sm">
    Tee Drat Dalam
    <br> (TDD/Faucet Tee)
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/tee-drat-dalam-kuningan.png" alt="tee drat dalam PVC (kuningan)" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tdd-mi" class="btn btn-primary btn-sm">
    Tee Drat
    Dalam (TDD) <br> drat kuningan
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/flange.png" alt="Flange PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-flange" class="btn btn-primary btn-sm">
    Flange (Stub
    End)
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/cap.png" alt="cap/dop PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-cap" class="btn btn-primary btn-sm">
    Cap (Dop)
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/plug.png" alt="plug/stop kran PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-plug" class="btn btn-primary btn-sm">
    Plug (Dop Drat
    Luar)
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/double-nipple.png" alt="double nipple PVC" width="200">
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-double-nipple" class="btn btn-primary btn-sm">
    Double
    Nipple <br>(Plug 2 sisi)
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/watermur-socket.png" alt="watermur socket PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-watermur-socket" class="btn btn-primary btn-sm">
    Watermur/Union
    Socket
</a>
<hr>
<br><br>
<img src="../img/fitting-pvc/watermur-drat.png" alt="watermur drat PVC" width="200" />
<br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-watermur-drat" class="btn btn-primary btn-sm">
    Watermur/Union
    Drat
</a>       