<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/4″</td>
            <td>Rp 1,700 </td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>Rp 2,100 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 3,200 </td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>Rp 5,400 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 8,400 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 15,200 </td>
        </tr>
        <tr>
            <td>5″</td>
            <td>Rp 28,600 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 37,300 </td>
        </tr>
        <tr>
            <td>8″</td>
            <td>Rp 98,900 </td>
        </tr>
        <tr>
            <td>10″</td>
            <td>Rp 151,200 </td>
        </tr>
    </tbody>
</table>