<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga/pcs (Rp)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>
            <td>Rp 1,900 </td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>Rp 2,500 </td>
        </tr>
        <tr>
            <td>1"</td>
            <td>Rp 3,900 </td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>Rp 6,800 </td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>Rp 9,400 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>Rp 14,300 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>Rp 22,600 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>Rp 37,900 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>Rp 70,200 </td>
        </tr>
        <tr>
            <td>5"</td>
            <td>Rp 106,200 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>Rp 177,600 </td>
        </tr>
        <tr>
            <td>8"</td>
            <td>Rp 402,300 </td>
        </tr>
        <tr>
            <td>10"</td>
            <td>Rp 537,600 </td>
        </tr>
    </tbody>
</table>