<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-socket" class="btn btn-primary btn-sm">
    Socket / Coupler
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-elbow-90" class="btn btn-primary btn-sm">
    Elbow 90° / Knee 90°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-elbow-45" class="btn btn-primary btn-sm">
    Elbow 45° / Knee 45°
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-reducer" class="btn btn-primary btn-sm">
    Reducer <br> (Vlok Sok)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-sdd" class="btn btn-primary btn-sm">
    Socket Drat Dalam <br> (SDD/Faucet Socket)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-sdd-mi" class="btn btn-primary btn-sm">
    Socket Drat Dalam (SDD)<br> drat kuningan
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-sdl" class="btn btn-primary btn-sm">
    Socket Drat Luar <br> (SDL/Valve Socket)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-kdd" class="btn btn-primary btn-sm">
    Elbow/Knee Drat Dalam <br> (KDD/Faucet Elbow)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-kdd-mi" class="btn btn-primary btn-sm">
    Elbow/Knee Drat Dalam (KDD)<br> drat kuningan
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tee" class="btn btn-primary btn-sm">
    Tee
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tee-y" class="btn btn-primary btn-sm">
    Tee Y <br>
    (Large Radius Tee)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-y-branch" class="btn btn-primary btn-sm">
    Y Branch
    <br>(Tee 45°)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tdd" class="btn btn-primary btn-sm">
    Tee Drat Dalam
    <br> (TDD/Faucet Tee)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-tdd-mi" class="btn btn-primary btn-sm">
    Tee Drat
    Dalam (TDD) <br> drat kuningan
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-flange" class="btn btn-primary btn-sm">
    Flange (Stub
    End)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-cap" class="btn btn-primary btn-sm">
    Cap (Dop)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-plug" class="btn btn-primary btn-sm">
    Plug (Dop Drat
    Luar)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-double-nipple" class="btn btn-primary btn-sm">
    Double
    Nipple <br>(Plug 2 sisi)
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-watermur-socket" class="btn btn-primary btn-sm">
    Watermur/Union
    Socket
</a>

<br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw-watermur-drat" class="btn btn-primary btn-sm">
    Watermur/Union
    Drat
</a>       