<a href="/harga-fitting-pipa-pvc/rucika/socket-d" class="btn btn-primary btn-sm">Socket /
    Coupler</a><br><br>
<a href="/harga-fitting-pipa-pvc/rucika/elbow-90-d" class="btn btn-primary btn-sm">Elbow/Knee
    90°</a><br><br>
<a href="/harga-fitting-pipa-pvc/rucika/elbow-45-d" class="btn btn-primary btn-sm">Elbow/Knee
    45° </a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/tee-d" class="btn btn-primary btn-sm">Tee</a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/reducer-d" class="btn btn-primary btn-sm">Reducer/Vlok Sock</a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/tee-y-d" class="btn btn-primary btn-sm">Tee Y (Large Radius Tee)</a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/y-branch-d" class="btn btn-primary btn-sm">Y Branch (Tee 45°)</a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/cap-d" class="btn btn-primary btn-sm">Cap/Dop</a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/p-trap-d" class="btn btn-primary btn-sm">P Trap (Leher Angsa)</a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/clean-out-d" class="btn btn-primary btn-sm">Clean Out</a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/clean-out-cap-d" class="btn btn-primary btn-sm">Clean Out Cap</a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/long-elbow-d" class="btn btn-primary btn-sm">Long Elbow <br>(Large
    Radius Elbow)</a><br><br>

<a href="/harga-fitting-pipa-pvc/rucika/double-tee-d" class="btn btn-primary btn-sm">Double Tee</a><br><br>