<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga/pcs (Rp)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3/4" x 1/2"</td>
            <td>Rp 2,100 </td>
        </tr>
        <tr>
            <td>1" x 1/2"</td>
            <td>Rp 2,200 </td>
        </tr>
        <tr>
            <td>1" x 3/4"</td>
            <td>Rp 2,900 </td>
        </tr>
        <tr>
            <td>1-1/4" x 1/2"</td>
            <td>Rp 3,200 </td>
        </tr>
        <tr>
            <td>1-1/4" x 3/4"</td>
            <td>Rp 3,700 </td>
        </tr>
        <tr>
            <td>1-1/4" x 1"</td>
            <td>Rp 4,400 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1/2"</td>
            <td>Rp 4,700 </td>
        </tr>
        <tr>
            <td>1-1/2" x 3/4"</td>
            <td>Rp 4,900 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1"</td>
            <td>Rp 6,100 </td>
        </tr>
        <tr>
            <td>1-1/2" x 1-1/4"</td>
            <td>Rp 6,900 </td>
        </tr>
        <tr>
            <td>2" x 1/2"</td>
            <td>Rp 7,600 </td>
        </tr>
        <tr>
            <td>2" x 3/4"</td>
            <td>Rp 6,900 </td>
        </tr>
        <tr>
            <td>2" x 1"</td>
            <td>Rp 8,300 </td>
        </tr>
        <tr>
            <td>2" x 1-1/4"</td>
            <td>Rp 9,700 </td>
        </tr>
        <tr>
            <td>2" x 1-1/2"</td>
            <td>Rp 10,400 </td>
        </tr>
        <tr>
            <td>2-1/2" x 1-1/2"</td>
            <td>Rp 15,200 </td>
        </tr>
        <tr>
            <td>2-1/2" x 2"</td>
            <td>Rp 16,400 </td>
        </tr>
        <tr>
            <td>3" x 1"</td>
            <td>Rp 12,600 </td>
        </tr>
        <tr>
            <td>3" x 1-1/4"</td>
            <td>Rp 15,300 </td>
        </tr>
        <tr>
            <td>3" x 1-1/2"</td>
            <td>Rp 17,000 </td>
        </tr>
        <tr>
            <td>3" x 2"</td>
            <td>Rp 18,400 </td>
        </tr>
        <tr>
            <td>3" x 2-1/2"</td>
            <td>Rp 27,300 </td>
        </tr>
        <tr>
            <td>4" x 1-1/2"</td>
            <td>Rp 48,900 </td>
        </tr>
        <tr>
            <td>4" x 2"</td>
            <td>Rp 45,100 </td>
        </tr>
        <tr>
            <td>4" x 2-1/2"</td>
            <td>Rp 50,000 </td>
        </tr>
        <tr>
            <td>4" x 3"</td>
            <td>Rp 52,400 </td>
        </tr>
        <tr>
            <td>6" x 3"</td>
            <td>Rp 89,900 </td>
        </tr>
        <tr>
            <td>6" x 4"</td>
            <td>Rp 98,100 </td>
        </tr>
        <tr>
            <td>6" x 5"</td>
            <td>Rp 102,800 </td>
        </tr>
        <tr>
            <td>8" x 4"</td>
            <td>Rp 176,500 </td>
        </tr>
        <tr>
            <td>8" x 5"</td>
            <td>Rp 189,500 </td>
        </tr>
        <tr>
            <td>8" x 6"</td>
            <td>Rp 201,300 </td>
        </tr>
        <tr>
            <td>10" x 8"</td>
            <td>Rp 352,000 </td>
        </tr>
    </tbody>
</table>