<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/4″</td>
            <td>Rp 2,500 </td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>Rp 3,000 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 6,100 </td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>Rp 8,100 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 13,400 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 22,900 </td>
        </tr>
        <tr>
            <td>5″</td>
            <td>Rp 43,600 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 84,700 </td>
        </tr>
        <tr>
            <td>8″</td>
            <td>Rp 187,000 </td>
        </tr>
        <tr>
            <td>10″</td>
            <td>Rp 260,400 </td>
        </tr>
        <tr>
            <td>12″</td>
            <td>Rp 409,400 </td>
        </tr>
    </tbody>
</table>