<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-socket" class="btn btn-primary btn-sm">Socket /
    Coupler</a><br><br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-elbow-90" class="btn btn-primary btn-sm">Elbow/Knee
    90°</a><br><br>
<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-elbow-45" class="btn btn-primary btn-sm">Elbow/Knee
    45° </a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-tee" class="btn btn-primary btn-sm">Tee</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-reducer" class="btn btn-primary btn-sm">Reducer/Vlok Sock</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-tee-y" class="btn btn-primary btn-sm">Tee Y (Large Radius Tee)</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-y-branch" class="btn btn-primary btn-sm">Y Branch (Tee 45°)</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-cap" class="btn btn-primary btn-sm">Cap/Dop</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-p-trap" class="btn btn-primary btn-sm">P Trap (Leher Angsa)</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-clean-out" class="btn btn-primary btn-sm">Clean Out</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-clean-out-cap" class="btn btn-primary btn-sm">Clean Out Cap</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-long-elbow" class="btn btn-primary btn-sm">Long Elbow <br>(Large
    Radius Elbow)</a><br><br>

<a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d-double-tee" class="btn btn-primary btn-sm">Double Tee</a><br><br>