<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran</td>
            <td> Harga (Rp) </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 1/4″</td>
            <td>Rp 3,600 </td>
        </tr>
        <tr>
            <td>1 1/2″</td>
            <td>Rp 5,200 </td>
        </tr>
        <tr>
            <td>2″</td>
            <td>Rp 7,900 </td>
        </tr>
        <tr>
            <td>2 1/2″</td>
            <td>Rp 14,100 </td>
        </tr>
        <tr>
            <td>3″ X 11/2″</td>
            <td>Rp 14,100 </td>
        </tr>
        <tr>
            <td>3″ X 2″</td>
            <td>Rp 16,100 </td>
        </tr>
        <tr>
            <td>3″ X 2 1/2″</td>
            <td>Rp 18,000 </td>
        </tr>
        <tr>
            <td>3″</td>
            <td>Rp 21,100 </td>
        </tr>
        <tr>
            <td>4″ X 2″</td>
            <td>Rp 26,900 </td>
        </tr>
        <tr>
            <td>4″ X 3″</td>
            <td>Rp 31,700 </td>
        </tr>
        <tr>
            <td>4″</td>
            <td>Rp 36,300 </td>
        </tr>
        <tr>
            <td>5″ X 4″</td>
            <td>Rp 64,400 </td>
        </tr>
        <tr>
            <td>5″</td>
            <td>Rp 61,500 </td>
        </tr>
        <tr>
            <td>6″ X 4″</td>
            <td>Rp 86,900 </td>
        </tr>
        <tr>
            <td>6″</td>
            <td>Rp 111,000 </td>
        </tr>
        <tr>
            <td>8″ X 4″</td>
            <td>Rp 118,000 </td>
        </tr>
        <tr>
            <td>8″</td>
            <td>Rp 230,500 </td>
        </tr>
    </tbody>
</table>