<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga/pcs (Rp)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2"</td>
            <td>Rp 28,500 </td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>Rp 37,200 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>Rp 44,200 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>Rp 72,900 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>Rp 166,800 </td>
        </tr>
    </tbody>
</table>