<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ukuran (inch)</td>
            <td>Harga/pcs (Rp)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2" x 1-1/2"</td>
            <td>Rp 26,700 </td>
        </tr>
        <tr>
            <td>2"</td>
            <td>Rp 19,400 </td>
        </tr>
        <tr>
            <td>2-1/2" x 2"</td>
            <td>Rp 36,200 </td>
        </tr>
        <tr>
            <td>3"</td>
            <td>Rp 51,500 </td>
        </tr>
        <tr>
            <td>3" x 2"</td>
            <td>Rp 47,200 </td>
        </tr>
        <tr>
            <td>4" x 1-1/2"</td>
            <td>Rp 78,100 </td>
        </tr>
        <tr>
            <td>4" x 2"</td>
            <td>Rp 89,900 </td>
        </tr>
        <tr>
            <td>4" x 2-1/2"</td>
            <td>Rp 108,700 </td>
        </tr>
        <tr>
            <td>4" x 3"</td>
            <td>Rp 126,800 </td>
        </tr>
        <tr>
            <td>4"</td>
            <td>Rp 151,700 </td>
        </tr>
        <tr>
            <td>6" x 3"</td>
            <td>Rp 242,800 </td>
        </tr>
        <tr>
            <td>6" x 4"</td>
            <td>Rp 288,400 </td>
        </tr>
        <tr>
            <td>6"</td>
            <td>Rp 323,200 </td>
        </tr>
    </tbody>
</table>