{{ partial "header" . }}

<section class="breadcrumb-section bg-img-c">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Ukuran Pipa PVC</h1>
            <h3 class="text-white mt-30">Diameter, ketebalan, panjang, dll.</h3>
        </div>
    </div>
    <div class="breadcrumb-shapes">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
</section>

<section class="section-gap">
    <div class="container">
        <div class="row no-gutters justify-content-lg-end justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="text-center">
                    {{.Content}}
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer" . }}