<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AW</th>
            <th>D</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>½"</td>
            <td>1 ¼"</td>
        </tr>
        <tr>
            <td>¾"</td>
            <td>1 ½"</td>
        </tr>
        <tr>
            <td>1"</td>
            <td>2"</td>
        </tr>
        <tr>
            <td>1 ¼"</td>
            <td>2 ½"</td>
        </tr>
        <tr>
            <td>1 ½"</td>
            <td>3"</td>
        </tr>
        <tr>
            <td>2"</td>
            <td>4"</td>
        </tr>
        <tr>
            <td>2 ½"</td>
            <td>5"</td>
        </tr>
        <tr>
            <td>3"</td>
            <td>6"</td>
        </tr>
        <tr>
            <td>4"</td>
            <td>8"</td>
        </tr>
        <tr>
            <td>5"</td>
            <td>10"</td>
        </tr>
        <tr>
            <td>6"</td>
            <td>12"</td>
        </tr>
        <tr>
            <td>8"</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>10"</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>12"</td>
            <td></td>
        </tr>
    </tbody>
</table>