<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">Diameter</th>
            <th colspan="2">Nominal Wall Thickness (mm)</th>
        </tr>
        <tr>
            <td>S-8</td>
            <td>S-10</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3/4" - (OD 25 mm)</td>
            <td>1.5</td>
            <td>-</td>
        </tr>
        <tr>
            <td>1" - (OD 32 mm)</td>
            <td>1.9</td>
            <td>1.6</td>
        </tr>
        <tr>
            <td>1-1/4" - (OD 40 mm)</td>
            <td>2.4</td>
            <td>1.9</td>
        </tr>
        <tr>
            <td>1-1/2" - (OD 50 mm)</td>
            <td>3.0</td>
            <td>2.4</td>
        </tr>
        <tr>
            <td>2" - (OD 63 mm)</td>
            <td>3.8</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>2-1/2" - (OD 75 mm)</td>
            <td>4.5</td>
            <td>3.6</td>
        </tr>
        <tr>
            <td>3" - (OD 90 mm)</td>
            <td>5.4</td>
            <td>4.3</td>
        </tr>
        <tr>
            <td>4" - (OD 110 mm)</td>
            <td>6.6</td>
            <td>5.3</td>
        </tr>
        <tr>
            <td>6" - (OD 160 mm)</td>
            <td>9.5</td>
            <td>7.7</td>
        </tr>
        <tr>
            <td>8" - (OD 200 mm)</td>
            <td>11.9</td>
            <td>9.6</td>
        </tr>
        <tr>
            <td>10" - (OD 250 mm)</td>
            <td>14.8</td>
            <td>11.9</td>
        </tr>
        <tr>
            <td>12" - (OD 315 mm)</td>
            <td>18.7</td>
            <td>15.0</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">Diameter</th>
            <th>Nominal Wall Thickness (mm)</th>
        </tr>
        <tr>
            <td>S-12,5</td>
            <td>S-16</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3/4" - (OD 25 mm)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>1" - (OD 32 mm)</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>1-1/4" - (OD 40 mm)</td>
            <td>1.6</td>
            <td>-</td>
        </tr>
        <tr>
            <td>1-1/2" - (OD 50 mm)</td>
            <td>2.0</td>
            <td>1.6</td>
        </tr>
        <tr>
            <td>2" - (OD 63 mm)</td>
            <td>2.4</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>2-1/2" - (OD 75 mm)</td>
            <td>2.9</td>
            <td>2.3</td>
        </tr>
        <tr>
            <td>3" - (OD 90 mm)</td>
            <td>3.5</td>
            <td>2.8</td>
        </tr>
        <tr>
            <td>4" - (OD 110 mm)</td>
            <td>4.2</td>
            <td>2.4</td>
        </tr>
        <tr>
            <td>6" - (OD 160 mm)</td>
            <td>6.2</td>
            <td>4.9</td>
        </tr>
        <tr>
            <td>8" - (OD 200 mm)</td>
            <td>7.7</td>
            <td>6.2</td>
        </tr>
        <tr>
            <td>10" - (OD 250 mm)</td>
            <td>9.6</td>
            <td>7.7</td>
        </tr>
        <tr>
            <td>12" - (OD 315 mm)</td>
            <td>12.1</td>
            <td>9.7</td>
        </tr>
    </tbody>
</table>