<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">Diameter (inch)</th>
            <th colspan="2">Ketebalan (mm)</th>
        </tr>
        <tr>
            <td>AW</td>
            <td>D</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2"</td>
            <td>1.36</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4"</td>
            <td>1.47</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1"</td>
            <td>1.67</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4"</td>
            <td>1.8</td>
            <td>1.8</td>
        </tr>
        <tr>
            <td>1-1/2"</td>
            <td>1.89</td>
            <td>1.89</td>
        </tr>
        <tr>
            <td>2"</td>
            <td>2.0</td>
            <td>1.9</td>
        </tr>
        <tr>
            <td>2-1/2"</td>
            <td>2.06</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>3"</td>
            <td>2.55</td>
            <td>1.5</td>
        </tr>
        <tr>
            <td>4"</td>
            <td>3.5</td>
            <td>1.7</td>
        </tr>
        <tr>
            <td>5"</td>
            <td>3.6</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>6"</td>
            <td>4.40</td>
            <td>2.1</td>
        </tr>
        <tr>
            <td>8"</td>
            <td>5.5</td>
            <td>3.2</td>
        </tr>
</table>