<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">Diameter (inch)</th>
            <th colspan="2">Ketebalan (mm)</th>
        </tr>
        <tr>
            <td>AW</td>
            <td>D</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1/2" (OD 22 mm)</td>
            <td>2.4</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>3/4" (OD 26 mm)</td>
            <td>2.5</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1" (OD 32 mm)</td>
            <td>2.6</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>1-1/4" (OD 42 mm)</td>
            <td>2.7</td>
            <td>1.3</td>
        </tr>
        <tr>
            <td>1-1/2" (OD 48 mm)</td>
            <td>3.1</td>
            <td>1.6</td>
        </tr>
        <tr>
            <td>2" (OD 60 mm)</td>
            <td>3.5</td>
            <td>1.7</td>
        </tr>
        <tr>
            <td>2-1/2" (OD 76 mm)</td>
            <td>3.6</td>
            <td>2.0</td>
        </tr>
        <tr>
            <td>3" (OD 89 mm)</td>
            <td>4.5</td>
            <td>2.5</td>
        </tr>
        <tr>
            <td>4" (OD 114 mm)</td>
            <td>5.2</td>
            <td>2.7</td>
        </tr>
        <tr>
            <td>5" (OD 140 mm)</td>
            <td>5.7</td>
            <td>3.6</td>
        </tr>
        <tr>
            <td>6" (OD 165 mm)</td>
            <td>7.5</td>
            <td>3.7</td>
        </tr>
        <tr>
            <td>8" (OD 216 mm)</td>
            <td>9.0</td>
            <td>5.0</td>
        </tr>
        <tr>
            <td>10" (OD 267 mm)</td>
            <td>9.6</td>
            <td>7.0</td>
        </tr>
        <tr>
            <td>12" (OD 318 mm)</td>
            <td>12.0</td>
            <td>8.0</td>
        </tr>
    </tbody>
</table>