<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>mm</th>
            <th>Inch</th>
            <th>Tebal (mm)</th>
            <th>Berat (Kg/meter)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>22</td>
            <td>1/2</td>
            <td>1.85</td>
            <td>0.173</td>
        </tr>
        <tr>
            <td>26</td>
            <td>3/4</td>
            <td>1.95</td>
            <td>0.217</td>
        </tr>
        <tr>
            <td>32</td>
            <td>1</td>
            <td>2.15</td>
            <td>0.297</td>
        </tr>
        <tr>
            <td>42</td>
            <td>1 1/4</td>
            <td>2.5</td>
            <td>0.457</td>
        </tr>
        <tr>
            <td>48</td>
            <td>1 1/2</td>
            <td>2.6</td>
            <td>0.546</td>
        </tr>
        <tr>
            <td>60</td>
            <td>2</td>
            <td>2.6</td>
            <td>0.692</td>
        </tr>
        <tr>
            <td>76</td>
            <td>2 1/2</td>
            <td>2.9</td>
            <td>0.982</td>
        </tr>
        <tr>
            <td>89</td>
            <td>3</td>
            <td>3.35</td>
            <td>1.328</td>
        </tr>
        <tr>
            <td>114</td>
            <td>4</td>
            <td>4.4</td>
            <td>2.231</td>
        </tr>
        <tr>
            <td>165</td>
            <td>6</td>
            <td>6.95</td>
            <td>5.079</td>
        </tr>
    </tbody>
</table>