<div class="footer-widget section-pad">
    <div class="container">
        <div class="row">
            <div class="widget-row row">
                <div class="footer-col col-md-6 col-sm-12 res-m-bttm">
                    <!-- Each Widget -->
                    <div class="wgs wgs-footer wgs-menu">
                        <h5 class="wgs-title">Sales</h5>
                        <div class="wgs-content">
                            <p style="font-size: 24px;">
                                0813-8125-3138 (WA/Call)
                            </p>
                            <p>
                                <a href="https://api.whatsapp.com/send?phone=6281381253138"
                                    class="btn btn-outline btn-light">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i> <span>WhatsApp</span>
                                </a>
                                <a href="tel:6281381253138" class="btn btn-outline btn-light">
                                    <i class="fa fa-phone" aria-hidden="true"></i> <span>Call</span>
                                </a>
                            </p>
                            <p style="font-size: 24px;">
                                0877-8613-9140 (WA/Call)
                            </p>
                            <p>
                                <a href="https://api.whatsapp.com/send?phone=6287786139140"
                                    class="btn btn-outline btn-light">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i> <span>WhatsApp</span>
                                </a>
                                <a href="tel:6287786139140" class="btn btn-outline btn-light">
                                    <i class="fa fa-phone" aria-hidden="true"></i> <span>Call</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- End Widget -->
                </div>
                <div class="footer-col col-md-6 col-sm-12">
                    <!-- Each Widget -->
                    <div class="wgs wgs-footer">
                        <h5 class="wgs-title">Hubungi Kami</h5>
                        <div class="wgs-content">
                            <p><strong>PT Nusa Karya Rajawali</strong><br>
                                Ruko Bali View Point
                                Blok C No.40 <br>
                                Jl. Cirendeu Raya, Pisangan Ciputat Timur <br>
                                Tangerang Selatan, Banten 15419 <br>
                                <strong>Telp : 021 - 2279 6654</strong>                                
                        </div>
                    </div>
                    <!-- End Widget -->
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="site-copy col-sm-12">
                <p>
                    <a href="{{ .Site.BaseURL }}/sitemap.xml">Sitemap</a> &bull;
                    <a href="{{ .Site.BaseURL }}/kebijakan-privasi">Kebijakan Privasi</a>
                </p>
                <p>&copy; 2018 PT Nusa Karya Rajawali - Distributor Pipa PVC, HDPE dan PPR. All rights reserved</p>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright -->

<!-- Preloader !active please if you want -->
<!-- <div id="preloader"><div id="status">&nbsp;</div></div> -->
<!-- Preloader End -->

{{ $vendorjs := resources.Get "js/jquery.bundle.js" }}
{{ $scriptjs := resources.Get "js/script.js" }}
{{ $scripts := slice $vendorjs $scriptjs | resources.Concat "js/global.js" | minify | fingerprint }}

<!-- Global JS -->
<script src="{{ $scripts.Permalink }}" integrity="{{ $scripts.Data.Integrity }}"></script>
<!-- End Global JS -->

{{ partial "analytics" . }}
</body>

</html>