<!--====== Footer Part Start ======-->
<footer>
    <div class="container">
        <div class="footer-widget">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget nav-widget">
                        <h4 class="widget-title">Alamat</h4>
                        <p>
                            Jl. Gelagah Dalam No. 25 B, Pisangan, Ciputat Timur <br> Tangerang Selatan, Banten 15419 <br>
                            <strong>Telp : 021-7447 983</strong>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="widget nav-widget">
                        <h4 class="widget-title">Hubungi Sales</h4>
                        <p style="font-size:24px; margin-bottom:20px; color: white;">0813-8125-3138 | 0877-7633-6648</p>
                        <a href="#" class="main-btn main-btn-2"><i class="fab fa-whatsapp"></i> WhatsApp</a>
                        <a href="#" class="main-btn main-btn-2"><i class="fa fa-phone"></i> Telephone</a>

                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget nav-widget">
                        <h4 class="widget-title">Halaman Lainnya</h4>
                        <ul>
                            <li><a href="{{.Site.BaseURL}}/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="copyright-text">
                <span>PT Nusa Karya Rajawali. 2018-{{now.Format "2006"}}</span>
                <span>Distributor Pipa PVC Murah Berkualitas</span>
            </p>
            <p class="text-center text-white">Dibuat dan dipelihara oleh <a href="https://kontraktorweb.com">jasa pembuatan website</a> KontraktorWeb. Butuh website bisnis yang keren untuk perusahaan anda? Hubungi kami!</p>

            <a href="#" class="back-to-top"><i class="far fa-angle-up"></i></a>
        </div>
    </div>

    <!-- Lines -->
    <img src="{{.Site.BaseURL}}/finsa/assets/img/lines/01.png" alt="line-shape" class="line-one">
    <img src="{{.Site.BaseURL}}/finsa/assets/img/lines/02.png" alt="line-shape" class="line-two">
</footer>
<!--====== Footer Part end ======-->

<!--====== jquery js ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="{{.Site.BaseURL}}/finsa/assets/js/vendor/jquery-1.12.4.min.js"></script>
<!--====== Bootstrap js ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/bootstrap.min.js"></script>
<script src="{{.Site.BaseURL}}/finsa/assets/js/popper.min.js"></script>
<!--====== Slick js ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/slick.min.js"></script>
<!--====== Isotope js ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/isotope.pkgd.min.js"></script>
<!--====== Magnific Popup js ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/jquery.magnific-popup.min.js"></script>
<!--====== inview js ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/jquery.inview.min.js"></script>
<!--====== counterup js ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/jquery.countTo.js"></script>
<!--====== easy PieChart js ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/jquery.easypiechart.min.js"></script>
<!--====== Jquery Ui ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/jquery-ui.min.js"></script>
<!--====== Wow JS ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/wow.min.js"></script>
<!--====== Main js ======-->
<script src="{{.Site.BaseURL}}/finsa/assets/js/main.js"></script>
</body>

</html>