<!DOCTYPE html>
<html lang="en">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="{{.Description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--====== Title ======-->
    <title>{{.Title}}</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{{.Site.BaseURL}}/finsa/assets/img/favicon.ico" type="img/png" />
    <!--====== Animate Css ======-->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/finsa/assets/css/animate.min.css">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/finsa/assets/css/bootstrap.min.css" />
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/finsa/assets/css/font-awesome.min.css" />
    <!--====== Flaticon css ======-->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/finsa/assets/css/flaticon.css" />
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/finsa/assets/css/magnific-popup.css" />
    <!--====== Slick  css ======-->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/finsa/assets/css/slick.css" />
    <!--====== Jquery ui ======-->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/finsa/assets/css/jquery-ui.min.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{.Site.BaseURL}}/finsa/assets/css/style.css" />
</head>

<body>
    <!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

    <!--====== Preloader ======-->
    <div id="preloader">
        <div class="loader-cubes">
            <div class="loader-cube1 loader-cube"></div>
            <div class="loader-cube2 loader-cube"></div>
            <div class="loader-cube4 loader-cube"></div>
            <div class="loader-cube3 loader-cube"></div>
        </div>
    </div>

    <!--====== Header part start ======-->
    <header class="sticky-header">
        <!-- Header Menu  -->
        <div class="header-nav">
            <div class="container-fluid container-1600">
                <div class="nav-container">
                    <!-- Site Logo -->
                    <div class="site-logo">
                        <a href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}/finsa/assets/img/logo.png" alt="Logo"></a>
                    </div>

                    <!-- Main Menu -->
                    <div class="nav-menu d-lg-flex align-items-center">

                        <!-- Navbar Close Icon -->
                        <div class="navbar-close">
                            <div class="cross-wrap"><span></span><span></span></div>
                        </div>

                        <!-- Mneu Items -->
                        <div class="menu-items">
                            <ul>
                                <li class="has-submemu">
                                    <a href="{{.Site.BaseURL}}/harga-pipa-pvc">Harga Pipa PVC</a>
                                    <ul class="submenu">
                                        <li><a href="{{.Site.BaseURL}}/harga-pipa-pvc/pralon">Pralon</a></li>
                                        <li><a href="{{.Site.BaseURL}}/harga-pipa-pvc/wisso">Wisso</a> </li>
                                        <li><a href="{{.Site.BaseURL}}/harga-pipa-pvc/intilon">Intilon</a> </li>
                                    </ul>
                                </li>
                                <li><a href="{{.Site.BaseURL}}/harga-fitting-pipa-pvc">Harga Fitting Pipa PVC</a></li>
                                <li><a href="{{.Site.BaseURL}}/ukuran-pipa-pvc">Ukuran Pipa PVC</a></li>
                            </ul>
                        </div>
                        <!-- Pushed Item -->
                        <div class="nav-pushed-item"></div>
                    </div>

                    <!-- Navbar Extra  -->
                    <div class="navbar-extra d-lg-block d-flex align-items-center">
                        <!-- Navbtn -->
                        <div class="navbar-btn nav-push-item">
                            <a class="main-btn main-btn-3" href="https://api.whatsapp.com/send?phone=6281381253138"><i class="fab fa-whatsapp"></i> WhatsApp Sales</a>
                        </div>
                        <!-- Navbar Toggler -->
                        <div class="navbar-toggler">
                            <span></span><span></span><span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--====== Header part end ======-->