<!-- MainNav -->
<nav class="navbar-collapse collapse" id="mainnav">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="{{ .Site.BaseURL }}/harga-pipa-pvc">Harga Pipa PVC</a>
            <ul class="dropdown-menu">
                <li><a href="{{ .Site.BaseURL }}/harga-pipa-pvc-rucika">Rucika</a></li>
                <li><a href="{{ .Site.BaseURL }}/harga-pipa-pvc-intilon">Intilon</a></li>
                <li><a href="{{ .Site.BaseURL }}/harga-pipa-pvc-champion">Champion</a></li>
                <li><a href="{{ .Site.BaseURL }}/harga-pipa-pvc-signature">Signature</a></li>
                <li><a href="{{ .Site.BaseURL }}/harga-pipa-pvc-lesso">Lesso</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc">Harga Fitting Pipa PVC</a>
            <ul class="dropdown-menu">
                <li><a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-aw">Rucika AW</a></li>
                <li><a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika-d">Rucika D</a></li>
                <li><a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-aw">CM AW</a></li>
                <li><a href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-cm-d">CM D</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Pipa Lainnya</a>
            <ul class="dropdown-menu">
                <li><a href="https://www.pipahdpe.co.id">Pipa HDPE</a></li>
                <li><a href="https://pipappr.co.id">Pipa PPR</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- #end MainNav -->