<div style="padding:30px; margin:30px 0; background:#DDD">
    <p style="">Hubungi kami untuk informasi stok, pengiriman, prosedur pembelian, diskon, dll:</p>
    <p style="margin:15px 0;"><strong>0813-8125-3138</strong> | <strong>0877-7633-6648</strong></p>
    <p>
        <div class="btn-group">
            <a class="btn btn-success" href="https://api.whatsapp.com/send?phone=081381253138&amp;text=Saya%20berminat%20untuk%20membeli%20pipa%20PVC%0A%0AMerk%3A%0A%0AUkuran%3A%0AJumlah%3A%0A%0AMohon%20infonya."><i
                class="fab fa-whatsapp"></i> WhatsApp</a>
            <br>
            <a class="btn btn-secondary" href="tel:081381253138"><i class="fa fa-phone"></i> Call</a>
        </div>

    </p>

</div>