<div class="btn-group-vertical" role="group">
    <a href="{{ .Site.BaseURL }}/harga-pipa-pvc-rucika" class="btn btn-sm">Rucika/Wavin</a>
    <a href="{{ .Site.BaseURL }}/harga-pipa-pvc-intilon" class="btn btn-sm">Intilon</a>
    <a href="{{ .Site.BaseURL }}/harga-pipa-pvc-champion" class="btn btn-sm">Champion</a>
    <a href="{{ .Site.BaseURL }}/harga-pipa-pvc-signature" class="btn btn-sm">Signature</a>
    <a href="{{ .Site.BaseURL }}/harga-pipa-pvc-lesso" class="btn btn-sm">Lesso</a>
</div>
<hr>
