<div class="btn-group-vertical" role="group">
    <a href="{{ .Site.BaseURL }}/harga" class="btn btn-sm">Harga Pipa HDPE</a>
    <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-63" class="btn btn-sm">HOCO PN 6.3</a>
    <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-8" class="btn btn-sm">HOCO PN 8</a>
    <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-10" class="btn btn-sm">HOCO PN 10</a>
    <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-125" class="btn btn-sm">HOCO PN 12.5</a>
    <a href="{{ .Site.BaseURL }}/harga/pipa-hdpe-hoco-pn-16" class="btn btn-sm">HOCO PN 16</a>
</div>
<hr>
